<script>
    var transText = new Array();
    transText["add"] = "{{ antl.get('action.add') }}";
    transText["copy"] = "{{antl.get('action.copy')}}";
    transText["edit"] = "{{antl.get('action.edit')}}";
    transText["delete"] = "{{antl.get('action.delete')}}";
    transText["save"] = "{{antl.get('action.save')}}";
    transText["ok"] = "{{antl.get('action.ok')}}";
    transText["yes"] = "{{antl.get('action.yes')}}";
    transText["no"] = "{{antl.get('action.no')}}";
    transText["cancel"] = "{{antl.get('action.cancel')}}";
    transText["message"] = "{{antl.get('global.message')}}";
    transText["search"] = "{{antl.get('action.search')}}";
    transText["active"] = "{{antl.get('action.active')}}";
    transText["none_active"] = "{{antl.get('action.unactive')}}";
    transText["from"] = "{{antl.get('global.from')}}";
    transText["to"] = "{{antl.get('global.to')}}";
    transText["customer"] = "{{antl.get('global.customer')}}";
    transText["update_success"] = "{{antl.get('messages.update_success')}}";
    transText["update_fail"] = "{{antl.get('messages.update_fail')}}";
    transText["are_you_sure"] = "{{antl.get('messages.are_you_sure')}}";
    transText["are_you_agree_delete"] = "{{antl.get('messages.are_you_agree_delete')}}";
    transText["are_you_agree_copy"] = "{{antl.get('messages.are_you_agree_copy')}}";
    transText["are_you_agree_edit"] = "{{antl.get('messages.are_you_agree_edit')}}";
    transText["are_you_agree_add"] = "{{antl.get('messages.are_you_agree_add')}}";
    transText["are_you_agree_cancel"] = "{{antl.get('messages.are_you_agree_cancel')}}";
    transText["are_you_agree_save"] = "{{antl.get('messages.are_you_agree_save')}}";
    transText["you_are_not_permission_view"] = "{{antl.get('messages.you_are_not_permission_view')}}";
    transText["you_are_not_permission_add"] = "{{antl.get('messages.you_are_not_permission_add')}}";
    transText["you_are_not_permission_edit"] = "{{antl.get('messages.you_are_not_permission_edit')}}";
    transText["you_are_not_permission_delete"] = "{{antl.get('messages.you_are_not_permission_delete')}}";
    transText["you_are_not_permission_approved"] = "{{antl.get('messages.you_are_not_permission_approved')}}";
    transText["please_input_all_field_require"] = "{{antl.get('messages.please_input_all_field_require')}}";
    transText["please_select_line_copy"] = "{{antl.get('messages.you_must_select_item_to_copy')}}";
    transText["please_select_line_edit"] = "{{antl.get('messages.you_must_select_item_to_edit')}}";
    transText["please_select_line_delete"] = "{{antl.get('messages.you_must_select_item_to_delete')}}";
    transText["please_select_line_choose"] = "{{antl.get('messages.please_select_line_choose')}}";
    transText["other_can_not_choose"] = "{{antl.get('messages.other_can_not_choose')}}";
    transText["you_must_select_company"] = "{{antl.get('messages.you_must_select_company')}}";
    transText["you_must_select_item_to_upload"] = "{{antl.get('messages.you_must_select_item_to_upload')}}";
    transText["success_upload"] = "{{antl.get('messages.success_upload')}}";
    transText["failed_upload"] = "{{antl.get('messages.failed_upload')}}";
    transText["failed_import"] = "{{antl.get('messages.failed_import')}}";
    transText["no_matching_records_found"] = "{{antl.get('messages.no_matching_records_found')}}";
    transText["online"] = "{{antl.get('messages.online')}}";
    transText["offline"] = "{{antl.get('messages.offline')}}";
    transText["busy"] = "{{antl.get('messages.busy')}}";
    transText["going_out"] = "{{antl.get('messages.going_out')}}";
    transText["chatting"] = "{{antl.get('messages.chatting')}}";
    transText["please_choose_user"] = "{{antl.get('messages.please_choose_user')}}";
    transText["please_fill_field"] = "{{antl.get('messages.please_fill_field')}}";
    transText["not_warehoused"] = "{{antl.get('action.not_warehoused')}}";
    transText["goods_in_receiver"] = "{{antl.get('action.goods_in_receiver')}}";
    transText["goods_in_sender"] = "{{antl.get('action.goods_in_sender')}}";
    transText["goods_in_vehicle"] = "{{antl.get('action.goods_in_vehicle')}}";
    transText["goods_delivered"] = "{{antl.get('action.goods_delivered')}}";
    transText["issue"] = "{{antl.get('inventory_voucher.issue')}}";
    transText["receipt"] = "{{antl.get('inventory_voucher.receipt')}}";
    transText["transfer"] = "{{antl.get('inventory_voucher.transfer')}}";
    transText["quantity_receipt_alert"] = "{{antl.get('messages.quantity_receipt_alert')}}";
    transText["barcode_not_found"] = "{{antl.get('messages.barcode_not_found')}}";
    transText["carts"] = "{{antl.get('store.carts')}}";
    transText["can_not_skip"] = "{{antl.get('store.can_not_skip')}}";
    transText["no_item_in_cards"] = "{{antl.get('messages.no_item_in_cards')}}";
    transText["payment_is_missing"] = "{{antl.get('messages.payment_is_missing')}}";
    transText["return_is_missing"] = "{{antl.get('messages.return_is_missing')}}";
    transText["you_not_permission_special"] = "{{antl.get('messages.payment_is_missing')}}";
    transText["already_paid"] = "{{antl.get('messages.already_paid')}}";
    transText["please_tick_barcode"] = "{{antl.get('messages.please_tick_barcode')}}";
    transText["sell_daily"] = "{{antl.get('store.sell_daily')}}";
    transText["pay_daily"] = "{{antl.get('return.pay_daily')}}";
    transText["not_accepted"] = "{{antl.get('global.not_accepted')}}";
    transText["accepted"] = "{{antl.get('global.accepted')}}";
    transText["completed"] = "{{antl.get('global.completed')}}";
</script>
