{% set recaptcha = use('Recaptcha') %}
<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập hệ thống Ermis</title>
    <meta name="csrf_token" content="{{ csrfToken }}">
    <link rel="stylesheet" href="{{ url('library/kendoui/styles/kendo.common.min.css') }}" />
    <link rel="stylesheet" href="{{ url('library/kendoui/styles/kendo.material.min.css') }}" />
    <link rel="stylesheet" href="{{ url('library/kendoui/styles/kendo.default.mobile.min.css') }}" />
    <link rel="stylesheet" href="{{ url('css/customize.css') }}" />
    <link rel="stylesheet" href="{{ url('css/login.css') }}" />
    <script src="{{ url('library/kendoui/js/jquery.min.js') }}"></script>
    <script src="{{ url('library/kendoui/js/kendo.all.min.js') }}"></script>
    <!-- Generate script tag. -->
  {{ recaptcha.script | safe }}
</head>
<body>
    <div class="logo">
        <a href="/">
            <img src="{{ url('images/logo-big-blue.png') }}" alt="Epos" />
        </a>
    </div>
    <!-- END LOGO -->
    <h3 class="form-title font-green">{{ antl.get('global.login') }}</h3>
    <div id="login-form">
        <div class="login-section k-content">
            <ul class="fieldlist login-form">
                <li>
                <div id="notification"></div>
                </li>
                <li>
                    <label for="icon-right">{{ antl.get('global.username') }}</label>
                    <span class="k-textbox k-space-right" style="width: 100%;">
                        <input type="text" id="icon-right" name="username" placeholder="{{ antl.get('global.username') }}" />
                        <a href="javascript:;" class="k-icon k-i-user" >&nbsp;</a>
                    </span>
                </li>
                <li>
                    <label for="icon-right">{{ antl.get('global.password') }}</label>
                    <span class="k-textbox k-space-right" style="width: 100%;">
                        <input type="password" id="icon-right" name="password" placeholder="{{ antl.get('global.password') }}"/>
                        <a href="javascript:;" class="k-icon k-i-password" >&nbsp;</a>
                    </span>
                </li>
                <li>
                  <!-- Generate recaptcha field -->
                    {{ recaptcha.field | safe }}
                </li>
                <li>
                    <a id="button_login" href="javascript:;" class="k-button k-primary">{{ antl.get('global.signin') }}</a>
                   <!-- <a id="button_login" href="javascript:;" class="k-button k-alert">Đăng ký</a>-->
                </li>

            </ul>

        </div>
    </div>
    <script>
            jQuery(document).ready(function () {
                var headers = {
                   'csrf-token' : jQuery('meta[name="csrf_token"]').attr('content')
               }
               jQuery.ajaxSetup({ headers: headers})
            });
    </script>
    <script src="{{ url('scripts/addon/framework.js') }}"></script>
    <script src="{{ url('scripts/addon/backend/login.js') }}"></script>
</body>
</html>
