<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 6.0.2.1 (Linux)"/>
	<meta name="author" content="tuyen"/>
	<meta name="created" content="2011-06-07T01:10:31"/>
	<meta name="changedby" content="PC"/>
	<meta name="changed" content="2018-04-24T02:56:42"/>
	<meta name="AppVersion" content="12.0000"/>
	<meta name="Company" content="Bach Khoa Computer"/>
	<meta name="DocSecurity" content="0"/>
	<meta name="HyperlinksChanged" content="false"/>
	<meta name="LinksUpToDate" content="false"/>
	<meta name="ScaleCrop" content="false"/>
	<meta name="ShareDoc" content="false"/>

	<style type="text/css">
		body,div,table,thead,tbody,tfoot,tr,th,td,p { font-family:"Calibri"; font-size:x-small }
		a.comment-indicator:hover + comment { background:#ffd; position:absolute; display:block; border:1px solid black; padding:0.5em;  }
		a.comment-indicator { background:red; display:inline-block; border:1px solid black; width:0.5em; height:0.5em;  }
		comment { display:none;  }
	</style>

</head>

<body>
<table align="left" class="table_print k-table" cellspacing="0" border="0">
	<colgroup width="36"></colgroup>
	<colgroup width="124"></colgroup>
	<colgroup width="10"></colgroup>
	<colgroup width="91"></colgroup>
	<colgroup width="32"></colgroup>
	<colgroup width="86"></colgroup>
	<colgroup width="167"></colgroup>
	<colgroup width="95"></colgroup>
	<colgroup width="101"></colgroup>
	<colgroup width="104"></colgroup>
	<tr>
		<td height="30" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td colspan=7 align="left" valign=bottom><b><font face="Times New Roman" size=5 color="#00B050">      CÔNG TY TNHH MTV TM BẢO KHANG THỊNH</font></b></td>
		</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td colspan=7 align="left" valign=bottom><font face="Times New Roman" size=3 color="#0070C0">       Add: Số 12 Tổ 1, Ấp Tường Trí, Xã Tường Lộc, Huyện Tam Bình, Tỉnh Vĩnh Long</font></td>
		</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td colspan=7 align="left" valign=bottom><font face="Times New Roman" size=3 color="#0070C0">       Bãi xe HCM: 2309 Quốc Lộ 1A, P.Tân Hưng Thuận, Q.12, HCM</font></td>
		</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td colspan=7 align="left" valign=bottom><font face="Times New Roman" size=3 color="#0070C0">       Tel : +84 028 6656 4225     www.baokhangthinh.vn       www.vantainoidia.vn</font></td>
		</tr>
	<tr>
		<td height="28" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td colspan=9 align="center" valign=bottom><b><font face="Times New Roman" size=3 color="#FF0000">Báo giá vận chuyển 094 500 00 06 (Mr.Tuyền) - Đặt vé Phà Hòn Chông 0937 728 269 (Mr.Nghĩa)</font></b></td>
		</tr>
	<tr>
		<td height="24" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-bottom: 1px dashed #000000" colspan=9 align="center" valign=bottom><b><font face="Times New Roman" size=3 color="#0070C0">Xin hàng lái xe gọi 0909 824545 (Mr.Tân) - Thu tiền và theo dõi nợ 0938 699 445 (Ms.Diễm)</font></b></td>
		</tr>
	<tr>
		<td height="44" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000" colspan=9 align="center" valign=middle><b><font face="Times New Roman" size=5 color="#000000">BIÊN BẢN GIAO NHẬN HÀNG HÓA</font></b></td>
		</tr>
	<tr>
		<td height="16" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-right: 3px solid #ffffff" colspan=9 align="center" valign=top><font face="Times New Roman" color="#000000">(BIÊN BẢN NÀY THAY CHO HỢP ĐỒNG VẬN CHUYỂN HÀNG HÓA)</font></td>
		</tr>
	<tr>
		<td height="33" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000">SỐ CHỨNG TỪ, HÓA ĐƠN / JOP , BILL NO:     </font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=5 align="left" valign=middle><b><font face="Times New Roman" color="#000000">{voucher}</font></b></td>
		</tr>
	<tr>
		<td height="30" align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">BIỂN SỐ XE</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle><b><font face="Times New Roman" color="#000000">{transport_name}</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font face="Times New Roman" color="#000000">CHỦ XE</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle><b><font face="Times New Roman" color="#000000">{transport_owner}</font></b></td>
		</tr>
	<tr>
		<td height="30" align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">TÊN LÁI XE</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle><b><font face="Times New Roman" color="#000000">{drive_name}</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font face="Times New Roman" color="#000000">ĐIỆN THOẠI</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle><b><font face="Times New Roman" color="#000000">{driver_phone}</font></b></td>
		</tr>
	<tr>
		<td height="30" align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">CMND</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle><b><font face="Times New Roman" color="#000000">{driver_identity_card}</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=middle><font face="Times New Roman" color="#000000">NGÀY CẤP</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font face="Times New Roman" color="#000000">{date_identity_card}</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">NƠI CẤP</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><b><font face="Times New Roman" color="#000000">{date_identity_card}</font></b></td>
		</tr>
	<tr>
		<td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000" colspan=10 height="11" align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="44" align="center" valign=middle><b><font face="Times New Roman" color="#000000">STT</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font face="Times New Roman" color="#000000">KHÁCH HÀNG</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><b><font face="Times New Roman" color="#000000">THÔNG TIN HÀNG HÓA</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font face="Times New Roman" color="#000000">SDT + ĐỊA CHỈ</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font face="Times New Roman" color="#000000">SỐ LƯỢNG</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font face="Times New Roman" color="#000000">SỐ TIỀN</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font face="Times New Roman" color="#000000">HTTT</font></b></td>
	</tr>
	<tr class="detail_content"></tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px dashed #000000" colspan=2 height="34" align="center" valign=middle><b><font face="Times New Roman" color="#000000">TỔNG SỐ KG</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px dashed #000000" colspan=3 align="center" valign=middle><b><font face="Times New Roman" color="#000000">{total_quantity}</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px dashed #000000" colspan=3 align="center" valign=middle><b><font face="Times New Roman" color="#000000">TỔNG SỐ TIỀN</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=2 align="center" valign=bottom><font face="Times New Roman" color="#000000">{total_amount}</font></td>
		</tr>
	<tr>
		<td height="34" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" colspan=8 align="left" valign=bottom><font face="Times New Roman" color="#000000">Số tiền bằng chữ: {amount_letter}</font></td>
		</tr>
	<tr>
		<td style="border-bottom: 1px dashed #000000" colspan=4 height="34" align="left" valign=bottom><font face="Times New Roman" color="#0070C0">Chi phí phát sinh tại Phú Quốc (Nếu có):</font></td>
		<td style="border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" height="34" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="17" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td colspan=4 height="34" align="center" valign=middle><b><font face="Times New Roman" size=3 color="#000000">CHÀNH XE PHÚ QUỐC</font></b></td>
		<td align="left" valign=middle><b><font face="Times New Roman" size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=middle><b><font face="Times New Roman" size=3 color="#000000"><br></font></b></td>
		<td colspan=4 align="center" valign=middle><b><font face="Times New Roman" size=3 color="#000000"><br></font></b></td>
		</tr>
</table>
<img style="position:absolute;top:20;left:0;" src="/images/logo_b_blue.png" width="136" height="77" /><br clear="left" />
<br clear=left>
<!-- ************************************************************************** -->
</html>
