{% extends 'manage.layouts.ermisform8' %}
{% block css_add %}
<title>{{  shortif( inventory , inventory.name + ' - ' + company.name , antl.get('index.title') ) }}</title>
{% endblock %}

{% block content_add %}
<div class="uk-grid" id="form-search">
    <div class="uk-width-medium-1-4">

    </div>
    <div class="width-large">
    <table>
        <tr>
        <td><span class="row-padding-right-small">{{ antl.get('global.start_date') }} :</span></td>
        <td>
        <input type="text" data-type="date" id="start" name="start_date" value="{{ end_date }}" />
        <span class="row-padding-right-small"></span>

        <span class="row-padding-right-small">{{ antl.get('global.end_date') }}:</span>
        <input type="text" data-type="date" id="end" name="end_date" value="{{ end_date }}" />
         </td>
        </tr>

        <tr>
        <td><label class="row-padding-right-small">{{ antl.get('report_detail_debt.customer') }}</label></td>
        <td>
        <select class="droplist xlarge" name="subject">
            {% for x in subject %}
            <option value="{{ x.id }}">{{ shortif( lang == 'vn' , x.name , x.name_en )}}</option>
            {% endfor %}
        </select>
        </td>
        </tr>

        <tr>
        <td> <label class="row-padding-right-small">{{ antl.get('global.recorded') }}</label></td>
        <td>
        <input type="checkbox" data-md-icheck="" checked name="active" />
        </td>
        </tr>

    </table>

        <div class="row-padding-bottom-small"></div>
        <div>
            <a href="javascript:;" class="k-button uk-alert-success row-padding-bottom-small get_report" data-uk-tooltip=""><i class="md-18 material-icons md-color-white">event_note</i>{{ antl.get('global.report') }}</a>
            <a href="javascript:;" class="k-button k-primary row-padding-bottom-small get_data" data-uk-tooltip=""><i class="md-18 material-icons md-color-white">event_available</i>{{ antl.get('global.get_data') }}</a>
            <a href="javascript:;" class="k-button uk-alert-warning btn-hide" data-uk-tooltip=""><i class="md-18 material-icons md-color-white">exit_to_app</i>{{ antl.get('global.hidden_condition') }}</a>
            <a href="javascript:;" class="k-button uk-alert-danger btn_export" data-uk-tooltip=""><i class="md-18 material-icons md-color-white">cloud_upload</i> {{ antl.get('action.export') }}</a>
        </div>

    </div>
      <div id="export"></div>
    <div class="uk-width-medium-1-4">

    </div>

</div>
    <div class="uk-grid">
        <div class="uk-width-medium-4-4">
            <div id="grid" style="display:none"></div>
        </div>
    </div>
<div class="uk-grid">
    <div class="uk-width-medium-4-4">
        <div id="report" style="display:none">
            <div class="row">
                <h3 id="title" class="text-center"></h3>
                <table id="table"
                       data-toggle="table"
                       data-show-export="true"
                       data-pagination="true"
                       data-click-to-select="true"
                       data-toolbar="#toolbar"
                       data-search="true"
                       data-show-footer="true"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-show-print="true"
                       data-show-columns="true">
                    <thead>
                        <tr>
                            <th data-formatter="runningFormatter" >#</th>
                            <th data-field="date_voucher" data-formatter="DateFormatter" data-sortable="true">{{ antl.get('inventory_voucher.date_voucher') }}</th>
                            <th data-field="voucher" data-sortable="true">{{ antl.get('inventory_voucher.voucher') }}</th>
                            <th data-field="description" data-sortable="true" data-footer-formatter="totalTextFormatter">{{ antl.get('inventory_voucher.description') }}</th>
                            <th data-field="debt" data-sortable="true" data-footer-formatter="sumFormatter" data-formatter="priceFomatter">{{ antl.get('report_detail_debt.debt') }}</th>
                            <th data-field="credit" data-sortable="true" data-footer-formatter="sumFormatter" data-formatter="priceFomatter">{{ antl.get('report_detail_debt.credit') }}</th>
                            <th data-field="closing" data-sortable="true" data-footer-formatter="sumFormatter" data-formatter="priceFomatter">{{ antl.get('report_detail_debt.closing') }}</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts_add %}
    <script src="{{ url('scripts/addon/backend/ermis-add-6.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
          Ermis.per = JSON.parse('{{ permission | safe }}');
          Ermis.link = "{{ key }}";
          Ermis.room = "{{ room }}";
          Ermis.field = {
              debt:    {type:"number" },
              credit:    {type:"number" },
              closing:    {type:"number" },
          };
          Ermis.columns    =   [{ "field" : "id",hidden: true },
                                { "field" : "date_voucher","title" :"{{ antl.get('inventory_voucher.date_voucher') }}" ,"width" : "150px", type:"date" ,template: '#= FormatDate(date_voucher) #' },
                                { "field" : "voucher","title" :"{{ antl.get('inventory_voucher.voucher') }}" ,"width" : "150px",aggregates: ['count'], footerTemplate: "<p>Total Count: #=count#</p>"},
                                { "field" : "description","title" :"{{ antl.get('inventory_voucher.description') }}" ,"width" : "200px" },
                                { "field" : "debt","title" :"{{ antl.get('report_detail_debt.debt') }}" ,"width" : "150px",aggregates: ['sum'], format: "{0:n0}" ,decimals: 0 ,footerTemplate: "#=FormatNumber(sum)#"},
                                { "field" : "credit","title" :"{{ antl.get('report_detail_debt.credit') }}" ,"width" : "150px",aggregates: ['sum'], format: "{0:n0}" ,decimals: 0 ,footerTemplate: "#=FormatNumber(sum)#"},
                                { "field" : "closing","title" :"{{ antl.get('report_detail_debt.closing') }}" ,"width" : "150px",aggregates: ['sum'], format: "{0:n0}" ,decimals: 0 ,footerTemplate: "#=FormatNumber(sum)#"},
];
          Ermis.aggregate = [ { field: "voucher", aggregate: "count" },
                              { field: "debt", aggregate: "sum" },
                              { field: "credit", aggregate: "sum" },
                              { field: "closing", aggregate: "sum" }];
        });
    </script>
    {% endblock %}
