{% extends 'manage.layouts.ermisform8' %}
{% block css_add %}
<title>{{  shortif( inventory , inventory.name + ' - ' + company.name , antl.get('index.title') ) }}</title>
{% endblock %}

{% block content_add %}
    <div class="uk-grid" id="form-search">
        <div class="uk-width-medium-1-4">

        </div>
        <div class="width-large">
        <table>
            <tr>
            <td><span class="row-padding-right-small">{{ antl.get('global.start_date') }} :</span></td>
            <td>
            <input type="text" data-type="date" id="start" name="start_date" value="{{ start_date }}" />
            <span class="row-padding-right-small"></span>

            <span class="row-padding-right-small">{{ antl.get('global.end_date') }}:</span>
            <input type="text" data-type="date" id="end" name="end_date" value="{{ end_date }}" />
             </td>
            </tr>

            <tr>
            <td><label class="row-padding-right-small">{{ antl.get('report_detail_debt.customer') }}</label></td>
            <td>
            <select class="droplist xlarge" name="subject">
              <option readonly selected value="">--Select--</option>
                {% for x in subject %}
                <option value="{{ x.id }}">{{ shortif( lang == 'vn' , x.name , x.name_en )}}</option>
                {% endfor %}
            </select>
            </td>
            </tr>

            <tr>
            <td> <label class="row-padding-right-small">{{ antl.get('global.recorded') }}</label></td>
            <td>
            <input type="checkbox" data-md-icheck="" checked name="active" />
            </td>
            </tr>

        </table>

            <div class="row-padding-bottom-small"></div>
            <div>
                <a href="javascript:;" class="k-button uk-alert-success row-padding-bottom-small get_report" data-uk-tooltip=""><i class="md-18 material-icons md-color-white">event_note</i>{{ antl.get('global.report') }}</a>
                <a href="javascript:;" class="k-button k-primary row-padding-bottom-small get_data" data-uk-tooltip=""><i class="md-18 material-icons md-color-white">event_available</i>{{ antl.get('global.get_data') }}</a>
                <a href="javascript:;" class="k-button uk-alert-warning btn-hide" data-uk-tooltip=""><i class="md-18 material-icons md-color-white">exit_to_app</i>{{ antl.get('global.hidden_condition') }}</a>
                <a href="javascript:;" class="k-button uk-alert-danger print" data-uk-tooltip=""><i class="md-18 material-icons md-color-white">print</i> {{ antl.get('action.print') }}</a>
            </div>

        </div>
        <div class="uk-width-medium-1-4">

        </div>

    </div>
    <div class="uk-grid">
        <div class="uk-width-medium-4-4">
            <div id="grid" style="display:none"></div>
        </div>
    </div>
<div class="uk-grid">
    <div class="uk-width-medium-4-4">
        <div id="report" style="display:none">
            <div class="row">
                <h3 id="title" class="text-center"></h3>
                <table id="table"
                       data-toggle="table"
                       data-show-export="true"
                       data-pagination="true"
                       data-click-to-select="true"
                       data-toolbar="#toolbar"
                       data-search="true"
                       data-show-footer="true"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-show-print="true"
                       data-show-columns="true">
                    <thead>
                    <tr>
                      <th data-formatter="runningFormatter" >#</th>
                      <th data-field="code" data-sortable="true">{{ antl.get('store.voucher') }}</th>
                      <th data-field="date_voucher" data-formatter="DateFormatter" data-sortable="true">{{ antl.get('inventory_voucher.date_voucher') }}</th>
                      <th data-field="transport_code" data-sortable="true" >{{ antl.get('store.transport_code') }}</th>
                      <th data-field="sender_address" data-sortable="true" >{{ antl.get('store.sender_address') }}</th>
                      <th data-field="receiver_address" data-sortable="true" data-width="250px">{{ antl.get('store.receiver_address') }}</th>
                      <th data-field="name" data-sortable="true" >{{ antl.get('store.name') }}</th>
                      <th data-field="lot_number" data-sortable="true" >{{ antl.get('store.lot_number') }}</th>
                      <th data-field="quantity" data-sortable="true" >{{ antl.get('store.quantity') }}</th>
                      <th data-field="price" data-sortable="true" data-footer-formatter="sumFormatter" data-formatter="priceFomatter">{{ antl.get('store.price') }}</th>
                      <th data-field="surcharge_amount" data-sortable="true" data-footer-formatter="sumFormatter" data-formatter="priceFomatter">{{ antl.get('store.surcharge_amount') }}</th>
                      <th data-field="surcharge" data-sortable="true">{{ antl.get('surcharge.title') }}</th>
                      <th data-field="total_amount" data-sortable="true" data-footer-formatter="sumFormatter" data-formatter="priceFomatter">{{ antl.get('store.total_amount') }}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
          {% include 'pos.includes._TablePrintFreight' %}
    </div>
    {% endblock %}
    {% block scripts_add %}
    <script src="{{ url('scripts/addon/backend/ermis-add-6.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
        Ermis.per = JSON.parse('{{ permission | safe }}');
        Ermis.link = "{{ key }}";
        Ermis.room = "{{ room }}";
            Ermis.field = {
                price :   {type:"number"},
                surcharge_amount:    {type:"number" },
                total_amount:    {type:"number" },
            };
            Ermis.columns    =   [{ "field" : "code","title" :"{{ antl.get('store.voucher') }}" ,"width" : "150px",aggregates: ['count'], footerTemplate: "<p>Total Count: #=count#</p>"},
                                  { "field" : "date_voucher","title" :"{{ antl.get('store.date_voucher') }}" ,"width" : "150px" , template : "#=FormatDate(date_voucher) #"},
                                  { "field" : "transport_code","title" :"{{ antl.get('store.transport_code') }}" ,"width" : "150px"},
                                  { "field" : "sender_address","title" :"{{ antl.get('store.sender_address') }}" ,"width" : "150px"},
                                  { "field" : "receiver_address","title" :"{{ antl.get('store.receiver_address') }}" ,"width" : "250px"},
                                  { "field" : "name","title" :"{{ antl.get('store.name') }}" ,"width" : "150px"},
                                  { "field" : "lot_number","title" :"{{ antl.get('store.lot_number') }}" ,"width" : "150px"},
                                  { "field" : "quantity","title" :"{{ antl.get('store.quantity') }}" ,"width" : "150px"},
                                  { "field" : "price","title" :"{{ antl.get('store.price') }}" ,"width" : "150px" ,aggregates: ['sum'], format: "{0:n0}" ,decimals: 0 , template : "#=FormatNumber(price) #",footerTemplate: "#=FormatNumber(sum)#" },
                                  { "field" : "surcharge_amount","title" :"{{ antl.get('store.surcharge_amount') }}" ,"width" : "150px" ,aggregates: ['sum'], format: "{0:n0}" ,decimals: 0  , template : "#=FormatNumber(surcharge_amount) #",footerTemplate: "#=FormatNumber(sum)#" },
                                  { "field" : "surcharge","title" :"{{ antl.get('surcharge.title') }}" ,"width" : "150px"},
                                  { "field" : "total_amount","title" :"{{ antl.get('store.total_amount') }}" ,"width" : "150px" ,aggregates: ['sum'], format: "{0:n0}" ,decimals: 0, template : "#=FormatNumber(total_amount) #" ,footerTemplate: "#=FormatNumber(sum)#" },

            ];
            Ermis.aggregate = [ { field: "code", aggregate: "count" },
                             { field: "price", aggregate: "sum" },
                             { field: "surcharge_amount", aggregate: "sum" },
                             { field: "total_amount", aggregate: "sum" }];
        });
    </script>
    {% endblock %}
