{% extends 'manage.layouts.ermisform4' %}
{% block content_add %}
    <div class="uk-grid uk-margin-left-10 uk-grid-medium">
        <ul class="uk-tab" data-uk-tab="{connect:'#tabs_anim', animation:'slide-left', swiping: false}">
            <li class="uk-active"><a href="javascript:;">{{ antl.get('suplier.info') }}</a></li>
            <li><a href="javascript:;">{{ antl.get('suplier.contact') }}</a></li>
            <li><a href="javascript:;">{{ antl.get('suplier.account') }}</a></li>
            <li><a href="javascript:;">{{ antl.get('suplier.statistics') }}</a></li>
            <li><a href="javascript:;">{{ antl.get('global.expand') }}</a></li>
        </ul>
        <ul id="tabs_anim" class="uk-switcher uk-margin">
            <li>
              <table>
            <tr>
                <td><label>{{ antl.get('suplier.group') }}</label></td>
                <td class="row-height">
                    <select class="droplist large" data-title="{{ antl.get('suplier.group') }}" data-position="1" data-template="#= FormatDropList(group,'group') #" data-hidden="true" data-width="200px" data-type="number" name="group">
                        <option readonly selected value="0">--Select--</option>
                            {% for x in group %}
                            <option value="{{ x.id }}">{{ x.code }} - {{x.name}}</option>
                            {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="row-label"><label>{{ antl.get('suplier.level') }}</label></td>
                <td><input type="text" class="k-textbox medium" data-position="2" data-title="{{ antl.get('suplier.level') }}" data-hidden="true" data-width="200px" data-type="string" name="level" /></td>
            </tr>
            <tr>
                <td class="row-label"><label>{{ antl.get('suplier.code') }} *</label></td>
                <td><input type="text" class="k-textbox medium" data-position="3" data-title="{{ antl.get('suplier.code') }}" data-width="200px" data-type="string" name="code" /></td>
            </tr>
            <tr>
                <td class="row-label"><label>{{ antl.get('suplier.name') }} *</label></td>
                <td><input type="text" class="k-textbox large" data-position="4" data-title="{{ antl.get('suplier.name') }}" data-width="200px" data-type="string" name="name" /></td>
            </tr>
            <tr>
                <td class="row-label"><label>{{ antl.get('suplier.name_en') }}</label></td>
                <td><input type="text" class="k-textbox large" data-position="5" data-title="{{ antl.get('suplier.name_en') }}" data-width="200px" data-type="string" name="name_en" /></td>
            </tr>
            <tr>
                <td class="row-label"><label>{{ antl.get('suplier.address') }}</label></td>
                <td><input type="text" class="k-textbox large" data-position="6" data-title="{{ antl.get('suplier.address') }}" data-width="200px" data-type="string" name="address" /></td>
            </tr>
            <tr>
                <td class="row-label"><label>{{ antl.get('suplier.tax_code') }}</label></td>
                <td><input type="text" class="k-textbox medium" data-position="7" data-title="{{ antl.get('suplier.tax_code') }}" data-width="200px" data-type="string" name="tax_code" /></td>
            </tr>
            <tr>
                <td class="row-label"><label>{{ antl.get('suplier.phone') }}</label></td>
                <td><input type="text" class="k-textbox medium" data-position="8" data-title="{{ antl.get('suplier.phone') }}" data-width="200px" data-type="string" name="phone" /></td>
            </tr>
            <tr>
                <td class="row-label"><label>{{ antl.get('suplier.fax') }}</label></td>
                <td><input type="text" class="k-textbox medium" data-position="8" data-title="{{ antl.get('suplier.fax') }}" data-width="200px" data-type="string" name="fax" /></td>
            </tr>
            <tr>
                <td class="row-label"><label>{{ antl.get('suplier.email') }}</label></td>
                <td><input type="text" class="k-textbox large" data-position="8" data-title="{{ antl.get('suplier.email') }}" data-width="200px" data-type="string" name="email" /></td>
            </tr>
            <tr>
                <td class="row-label"><label>{{ antl.get('suplier.website') }}</label></td>
                <td><input type="text" class="k-textbox large" data-position="8" data-title="{{ antl.get('suplier.website') }}" data-width="200px" data-type="string" name="website" /></td>
            </tr>
            <tr>
                <td class="row-label"><label>{{ antl.get('suplier.bank_account') }}</label></td>
                <td><input type="text" class="k-textbox large" data-position="8" data-title="{{ antl.get('suplier.bank_account') }}" data-width="200px" data-type="string" name="bank_account" /></td>
            </tr>
            <tr>
                <td class="row-label"><label>{{ antl.get('suplier.bank_name') }}</label></td>
                <td><input type="text" class="k-textbox large" data-position="8" data-title="{{ antl.get('suplier.bank_name') }}" data-width="200px" data-type="string" name="bank_name" /></td>
            </tr>
            <tr>
                <td><label>{{ antl.get('action.active') }}</label></td>
                <td class="row-height"><input type="checkbox" data-md-icheck="" data-position="10" data-title="{{ antl.get('action.active') }}" data-value="1" data-width="100px" data-type="string" data-template="#= FormatCheckBox(active) #" name="active" /></td>
            </tr>
                </table>
            </li>
            <li>
                <table>
                <tr>
                    <td class="row-label"><label>{{ antl.get('suplier.full_name_contact') }}</label></td>
                    <td><input type="text" class="k-textbox medium" data-position="8" data-title="{{ antl.get('action.full_name_contact') }}" data-hidden="true" data-width="200px" data-type="string" name="full_name_contact" /></td>
                </tr>
                <tr>
                    <td class="row-label"><label>{{ antl.get('suplier.address_contact') }}</label></td>
                    <td><input type="text" class="k-textbox medium" data-position="8" data-title="{{ antl.get('action.address_contact') }}" data-hidden="true" data-width="200px" data-type="string" name="address_contact" /></td>
                </tr>
                <tr>
                    <td class="row-label"><label>{{ antl.get('suplier.title_contact') }}</label></td>
                    <td><input type="text" class="k-textbox medium" data-position="8" data-title="{{ antl.get('action.title_contact') }}" data-hidden="true" data-width="200px" data-type="string" name="title_contact" /></td>
                </tr>
                <tr>
                    <td class="row-label"><label>{{ antl.get('suplier.email_contact') }}</label></td>
                    <td><input type="text" class="k-textbox medium" data-position="8" data-title="{{ antl.get('action.email_contact') }}" data-hidden="true" data-width="200px" data-type="string" name="email_contact" /></td>
                </tr>
                <tr>
                    <td class="row-label"><label>{{ antl.get('suplier.telephone1_contact') }}</label></td>
                    <td><input type="text" class="k-textbox medium" data-position="8" data-title="{{ antl.get('action.telephone1_contact') }}" data-hidden="true" data-width="200px" data-type="string" name="telephone1_contact" /></td>
                </tr>
                <tr>
                    <td class="row-label"><label>{{ antl.get('suplier.telephone2_contact') }}</label></td>
                    <td><input type="text" class="k-textbox medium" data-position="8" data-title="{{ antl.get('action.telephone2_contact') }}" data-hidden="true" data-width="200px" data-type="string" name="telephone2_contact" /></td>
                </tr>
                </table>
            </li>
            <li>
                <table>
                    <tr>
                        <td><label>{{ antl.get('suplier.account') }}</label></td>
                        <td>
                            <select class="droplist large" data-position="3" data-title="{{ antl.get('suplier.account') }}" data-template="#= FormatDropList(account,'account') #" data-hidden="true" data-type="number" data-width="200px" name="account">
                                <option readonly selected value="0">--Select--</option>
                                {% for x in account %}
                                <option value="{{ x.id }}">{{ x.code }} - {{x.name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="row-label"><label>{{ antl.get('suplier.maximum_debt') }}</label></td>
                        <td><input type="text" class="k-textbox medium" data-position="8" data-title="{{ antl.get('suplier.maximum_debt') }}" data-hidden="true" data-width="200px" data-type="string" name="maximum_debt" /></td>
                    </tr>
                    <tr>
                        <td class="row-label"><label>{{ antl.get('suplier.debt_limit') }}</label></td>
                        <td><input type="text" class="k-textbox medium" data-position="8" data-title="{{ antl.get('suplier.debt_limit') }}" data-hidden="true" data-width="200px" data-type="string" name="debt_limit" /></td>
                    </tr>
                    <tr>
                        <td><label>{{ antl.get('suplier.cost_object') }}</label></td>
                        <td>
                            <select class="droplist large" data-position="3" data-title="{{ antl.get('suplier.cost_object') }}" data-template="#= FormatDropList(cost_object,'cost_object') #" data-hidden="true" data-type="number" data-width="200px" name="cost_object">
                                <option readonly selected value="0">--Select--</option>
                                {% for x in cost_object %}
                                      <option value="{{ x.id }}">{{ x.code }} - {{x.name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label>{{ antl.get('suplier.discount') }}</label></td>
                        <td>
                            <select class="droplist large" data-position="3" data-title="{{ antl.get('suplier.discount') }}" data-template="#= FormatDropList(discount,'discount') #" data-hidden="true" data-type="number" data-width="200px" name="discount">
                                <option readonly selected value="0">--Select--</option>
                                {% for x in discount %}
                                      <option value="{{ x.id }}">{{ x.code }} - {{x.name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label>{{ antl.get('suplier.payment_method') }}</label></td>
                        <td>
                            <select class="droplist large" data-position="3" data-title="{{ antl.get('suplier.payment_method') }}" data-template="#= FormatDropList(payment_method,'payment_method') #" data-hidden="true" data-type="number" data-width="200px" name="payment_method">
                                <option readonly selected value="0">--Select--</option>
                                {% for x in payment_method %}
                                      <option value="{{ x.id }}">{{ x.code }} - {{x.name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label>{{ antl.get('suplier.price_policy') }}</label></td>
                        <td>
                            <select class="droplist large" data-position="3" data-title="{{ antl.get('suplier.price_policy') }}" data-template="#= FormatDropList(price_policy,'price_policy') #" data-hidden="true" data-type="number" data-width="200px" name="price_policy">
                                <option readonly selected value="0">--Select--</option>
                                {% for x in price_policy %}
                                      <option value="{{ x.id }}">{{ x.code }} - {{x.name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            </li>
            <li>
                <table>
                <tr>
                    <td><label>{{ antl.get('suplier.country') }}</label></td>
                    <td>
                        <select class="droplist large" data-position="3" data-title="{{ antl.get('suplier.country') }}" data-template="#= FormatDropList(country,'country') #" data-hidden="true" data-type="number" data-width="200px" name="country">
                            <option readonly selected value="0">--Select--</option>
                            {% for x in country %}
                            <option value="{{ x.id }}">{{ x.code }} - {{x.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>{{ antl.get('suplier.regions') }}</label></td>
                    <td>
                        <select class="droplist large" data-position="3" data-title="{{ antl.get('suplier.regions') }}" data-template="#= FormatDropList(regions,'regions') #" data-hidden="true" data-type="number" data-width="200px" name="regions">
                            <option readonly selected value="0">--Select--</option>
                            {% for x in city %}
                            <option value="{{ x.id }}">{{ x.code }} - {{x.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>{{ antl.get('suplier.area') }}</label></td>
                    <td>
                        <select class="droplist large" data-position="3" data-title="{{ antl.get('suplier.area') }}" data-template="#= FormatDropList(area,'area') #" data-hidden="true" data-type="number" data-width="200px" name="area">
                          <option readonly selected value="0">--Select--</option>
                          {% for x in area %}
                          <option value="{{ x.id }}">{{ x.code }} - {{x.name}}</option>
                          {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>{{ antl.get('suplier.distric') }}</label></td>
                    <td>
                        <select class="droplist large" data-position="3" data-title="{{ antl.get('suplier.distric') }}" data-template="#= FormatDropList(distric,'distric') #" data-hidden="true" data-type="number" data-width="200px" name="distric">
                        <option readonly selected value="0">--Select--</option>
                            {% for x in distric %}
                            <option value="{{ x.id }}">{{ x.code }} - {{x.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>{{ antl.get('suplier.marketing') }}</label></td>
                    <td>
                        <input type="text" class="k-textbox large" data-position="8" data-title="{{ antl.get('suplier.marketing') }}" data-hidden="true" data-width="200px" data-type="string" name="marketing" />
                    </td>
                </tr>
                <tr>
                    <td><label>{{ antl.get('suplier.company_size') }}</label></td>
                    <td>
                        <input type="text" class="k-textbox large" data-position="8" data-title="{{ antl.get('suplier.company_size') }}" data-hidden="true" data-width="200px" data-type="string" name="company_size" />
                    </td>
                </tr>
                </table>
            </li>
            <li>

            </li>
        </ul>
    </div>
    <div class="uk-margin" style="float : right">
        <a href="javascript:;" class="k-button k-primary save" data-uk-tooltip title="{{ antl.get('action.save') }} (Alt+Ctrl+S)"><i class="md-18 material-icons md-color-white">save</i>{{ antl.get('action.save') }}</a>
        <a href="javascript:;" class="k-button k-primary cancel" data-uk-tooltip title="{{ antl.get('action.cancel') }} (Alt+Ctrl+C)"><i class="md-18 material-icons md-color-white">cancel</i>{{ antl.get('action.cancel') }}</a>
    </div>
    {% endblock %}

    {% block scripts_add %}
        <script src="{{ url('scripts/addon/backend/ermis-add-5.js') }}"></script>
        <script>
        jQuery(document).ready(function () {
            Ermis.data = {{ data | json | safe }};
            Ermis.per = JSON.parse('{{ permission | safe }}');
            Ermis.flag = 1;
            Ermis.link = "{{ key }}";
            Ermis.room = "{{ room }}";
        });
        </script>
    {% endblock %}
