<style type="text/css">
	.table_print { font-family:"Calibri"; font-size:x-small }
	a.comment-indicator:hover + comment { background:#ffd; position:absolute; display:block; border:1px solid black; padding:0.5em;  }
	a.comment-indicator { background:red; display:inline-block; border:1px solid black; width:0.5em; height:0.5em;  }
	comment { display:none;  }
</style>

<table class="table_print" align="left" cellspacing="0" border="0">
	<colgroup span="26" width="35"></colgroup>
	<tr>
		<td height="30" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom colspan="30"><b><font face="Times New Roman" style="margin-left : 100px" size=5 color="#00B050" >CÔNG TY TNHH MTV TM BẢO KHANG THỊNH</font></b></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom colspan="30"><font face="Times New Roman" style="margin-left : 100px" size=3 color="#0070C0">       Add: Số 12 Tổ 1, Ấp Tường Trí, Xã Tường Lộc, Huyện Tam Bình, Tỉnh Vĩnh Long, Việt Nam</font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom  colspan="30"><font face="Times New Roman" style="margin-left : 100px" size=3 color="#0070C0">       Bãi xe HCM: 2309 Quốc Lộ 1A, P.Tân Hưng Thuận, Q.12, HCM</font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom colspan="30"><font face="Times New Roman" style="margin-left : 100px" size=3 color="#0070C0">       Tel : +84 703 860 686         *      Fax: 84 703 711 519</font></td>
	</tr>
	<tr>
		<td height="27" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom colspan="30"><b><font face="Times New Roman" style="margin-left : 100px" size=3 color="#FF0000">Báo giá vận chuyển 094 500 00 06 (Mr.Tuyền) - Đặt vé Phà Hòn Chông 0937 728 269 (Mr.Nghĩa)</font></b></td>
	</tr>
	<tr>
		<td height="24" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom colspan="30"><b><font face="Times New Roman" style="margin-left : 100px" size=3 color="#0070C0">Xin hàng lái xe gọi 0909 824545 (Mr.Tân) - Thu tiền và theo dõi nợ 0938 699 445 (Ms.Diễm)</font></b></td>
	</tr>
	<tr>
		<td colspan=26 height="34" align="center" valign=middle><b><font size=5 style="margin-left : 100px" color="#000000">HỢP ĐỒNG VẬN CHUYỂN VỚI NHÀ XE</font></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 height="34" align="center" valign=middle><b><font color="#000000">BIỂN SỐ XE</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=5 align="center" valign=middle bgcolor="#FDEADA"><b><font color="#000000"><br>{transport_name}</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><b><font color="#000000">TẢI TRỌNG XE</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><b><font color="#000000"><br>{weight}</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><b><font color="#000000">KÍCH THƯỚC XE</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=5 align="center" valign=middle><b><font color="#000000"><br>{size}</font></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 height="34" align="center" valign=middle><b><font color="#000000">HỌ TÊN LÁI XE</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=9 align="center" valign=middle><b><font color="#000000"><br>{driver_name}</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><b><font color="#000000">SỐ CMND</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=9 align="center" valign=middle><b><font color="#000000"><br>{driver_identity_card}</font></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 height="34" align="center" valign=middle><b><font color="#000000">ĐIỆN THOẠI LÁI XE</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=5 align="center" valign=middle><b><font color="#000000"><br>{driver_phone}</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=5 align="center" valign=middle><b><font color="#000000"><br></font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><b><font color="#000000">QUÊ QUÁN LÁI XE</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=8 align="center" valign=middle><b><font color="#000000"><br></font></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=7 height="34" align="center" valign=middle><b><font color="#000000">THANH TOÁN TIỀN XE CHO</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=7 align="center" valign=middle><b><font color="#000000"><br>{transport_owner}</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><b><font color="#000000">ĐIỆN THOẠI</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=8 align="center" valign=middle><b><font color="#000000"><br>{driver_phone}</font></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=26 height="34" align="center" valign=middle bgcolor="#D7E4BD"><font color="#000000">THÔNG TIN HÀNG HÓA VẬN CHUYỂN</font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 height="34" align="center" valign=middle><font color="#000000">STT</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font color="#000000">SỐ BILL</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font color="#000000">MÃ KH</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font color="#000000">MẶT HÀNG</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font color="#000000">SỐ <br>LƯỢNG</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font color="#000000">TRỌNG<br> LƯỢNG</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font color="#000000">SỐ KHỐI</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=5 align="center" valign=middle><font color="#000000">NƠI GIAO</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle><font color="#000000">CƯỚC PHÍ <br>VẬN CHUYỂN</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font color="#000000">YÊU CẦU LÁI XE</font></td>
		</tr>
	<tr class="detail_content"></tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 height="34" align="center" valign=middle><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=5 align="center" valign=middle><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font color="#000000"><br></font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=8 height="34" align="center" valign=middle><font color="#000000">TỔNG CỘNG</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font color="#000000"><br>{number}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font color="#000000"><br>{parcel_volumes}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font color="#000000"><br>{total_size}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=5 align="center" valign=middle><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font color="#000000"><br></font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="34" align="center" valign=middle><font color="#000000">SỐ TIỀN LÁI XE NỘP LẠI BKT</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font color="#000000"><br>{total}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font color="#000000">SỐ TIỀN BẰNG CHỮ</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=12 align="center" valign=middle><font color="#000000"><br>{amount_letter}</font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="34" align="center" valign=middle><font color="#000000">CHI PHÍ PHÁT SINH (NẾU CÓ)</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font color="#000000">LÝ DO PHÁT SINH</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=12 align="center" valign=middle><font color="#000000"><br></font></td>
		</tr>
	<tr>
		<td height="34" align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td colspan=13 height="34" align="center" valign=bottom><font color="#000000">…………. Ngày {day} tháng {month} năm {year}</font></td>
		<td colspan=13 align="center" valign=bottom><font color="#000000">…………. Ngày {day} tháng {month} năm {year}</font></td>
		</tr>
	<tr>
		<td colspan=13 height="34" align="center" valign=bottom><b><font color="#000000">CHỦ XE hoặc LÁI XE LÀM ĐẠI DIỆN KÝ XÁC NHẬN</font></b></td>
		<td colspan=13 align="center" valign=bottom><b><font color="#000000">XÁC NHẬN CỦA BẢO KHANG THỊNH</font></b></td>
		</tr>
</table>
<img style="position : absolute; top : 20 ; left : 0" src="/images/logo_b_blue.png" width=136 height=77>
<br clear=left>
<!-- ************************************************************************** -->
