
	<style type="text/css">
		.table_print { font-family:"Calibri"; font-size:x-small }
		a.comment-indicator:hover + comment { background:#ffd; position:absolute; display:block; border:1px solid black; padding:0.5em;  }
		a.comment-indicator { background:red; display:inline-block; border:1px solid black; width:0.5em; height:0.5em;  }
		comment { display:none;  }
	</style>



<table class="table_print" align="left" cellspacing="0" border="0">
	<colgroup width="36"></colgroup>
	<colgroup width="125"></colgroup>
	<colgroup width="9"></colgroup>
	<colgroup width="91"></colgroup>
	<colgroup width="70"></colgroup>
	<colgroup width="48"></colgroup>
	<colgroup width="77"></colgroup>
	<colgroup width="39"></colgroup>
	<colgroup width="80"></colgroup>
	<colgroup width="100"></colgroup>
	<colgroup width="24"></colgroup>
	<colgroup width="120"></colgroup>
	<tr>
		<td height="30" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom colspan="11"><b><font face="Times New Roman" size=5 color="#00B050" >CÔNG TY TNHH MTV TM BẢO KHANG THỊNH</font></b></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom colspan="11"><font face="Times New Roman" size=3 color="#0070C0">       Add: Số 12 Tổ 1, Ấp Tường Trí, Xã Tường Lộc, Huyện Tam Bình, Tỉnh Vĩnh Long, Việt Nam</font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom  colspan="11"><font face="Times New Roman" size=3 color="#0070C0">       Bãi xe HCM: 2309 Quốc Lộ 1A, P.Tân Hưng Thuận, Q.12, HCM</font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom colspan="11"><font face="Times New Roman" size=3 color="#0070C0">       Tel : +84 703 860 686         *      Fax: 84 703 711 519</font></td>
	</tr>
	<tr>
		<td height="27" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom colspan="11"><b><font face="Times New Roman" size=3 color="#FF0000">Báo giá vận chuyển 094 500 00 06 (Mr.Tuyền) - Đặt vé Phà Hòn Chông 0937 728 269 (Mr.Nghĩa)</font></b></td>
	</tr>
	<tr>
		<td height="24" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom colspan="11"><b><font face="Times New Roman" size=3 color="#0070C0">Xin hàng lái xe gọi 0909 824545 (Mr.Tân) - Thu tiền và theo dõi nợ 0938 699 445 (Ms.Diễm)</font></b></td>
	</tr>
	<tr>
		<td height="43" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000" colspan=11 align="center" valign=middle><b><font face="Times New Roman" size=5 color="#000000">BIÊN BẢN GIAO NHẬN HÀNG HÓA</font></b></td>
		</tr>
	<tr>
		<td height="15" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-right: 3px solid #ffffff" colspan=11 align="center" valign=top><font face="Times New Roman" color="#000000">(BIÊN BẢN NÀY THAY CHO HỢP ĐỒNG VẬN CHUYỂN HÀNG HÓA)</font></td>
		</tr>
	<tr>
		<td height="33" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left" valign=middle><font face="Times New Roman" color="#000000">SỐ CHỨNG TỪ, HÓA ĐƠN / JOP , BILL NO:     </font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left" valign=middle><font face="Times New Roman" color="#000000"><br>{voucher}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=3 align="right" valign=middle><b><font face="Times New Roman" size=5 color="#000000"><br></font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=4 align="center" valign=middle><b><font face="Times New Roman" size=3 color="#000000">Hôm nay, ngày {day} tháng {month} năm {year}</font></b></td>
		</tr>
	<tr>
		<td height="29" align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">BIỂN SỐ XE</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><b><font face="Times New Roman" size=4 color="#000000"><br>{transport_name}</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle><font face="Times New Roman" color="#000000">CHỦ XE</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle><b><font face="Times New Roman" size=4 color="#000000"><br>{transport_owner}</font></b></td>
		</tr>
	<tr>
		<td height="29" align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">TÊN LÁI XE</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000"><br>{driver_name}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle><font face="Times New Roman" color="#000000">ĐIỆN THOẠI</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle><font face="Times New Roman" color="#000000"><br>{driver_phone}</font></td>
		</tr>
	<tr>
		<td height="29" align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">CMND</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle><font face="Times New Roman" color="#000000"><br>{driver_identity_card}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font face="Times New Roman" color="#000000">NGÀY CẤP</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font face="Times New Roman" color="#000000"><br>{date_identity_card}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">NƠI CẤP</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><font face="Times New Roman" color="#000000"><br>{date_identity_card}</font></td>
		</tr>
	<tr>
		<td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000" colspan=12 height="11" align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="44" align="center" valign=middle><b><font face="Times New Roman" color="#000000">STT</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font face="Times New Roman" color="#000000">KHÁCH HÀNG</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=7 align="center" valign=middle><b><font face="Times New Roman" color="#000000">THÔNG TIN HÀNG HÓA</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font face="Times New Roman" color="#000000">SỐ LƯỢNG</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><b><font face="Times New Roman" color="#000000">LÁI XE THU <br>NGƯỜI NHẬN</font></b></td>
		</tr>
		<tr class="detail_content"></tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px dashed #000000" colspan=2 height="33" align="center" valign=middle><b><font face="Times New Roman" color="#000000">TỔNG SỐ KG</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px dashed #000000" colspan=4 align="center" valign=middle><b><font face="Times New Roman" color="#000000"><br></font>{parcel_volumes}</b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px dashed #000000" colspan=4 align="center" valign=middle><b><font face="Times New Roman" color="#000000">TỔNG SỐ TIỀN LÁI XE PHẢI THU</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=2 align="center" valign=bottom><font face="Times New Roman" color="#000000"><br>{total}</font></td>
		</tr>
	<tr>
		<td height="33" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" colspan=10 align="left" valign=bottom><font face="Times New Roman" color="#000000">Số tiền bằng chữ: {amount_letter}</font></td>
		</tr>
	<tr>
		<td style="border-bottom: 1px dashed #000000" colspan=4 height="33" align="left" valign=bottom><font face="Times New Roman" color="#0070C0">Chi phí phát sinh tại Phú Quốc (Nếu có):</font></td>
		<td style="border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br>{total_amount}</font></td>
		<td style="border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" height="33" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px dashed #000000; border-bottom: 1px dashed #000000" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="17" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td colspan=5 height="33" align="center" valign=middle style="padding-bottom : 200px"><b><font face="Times New Roman" size=3 color="#000000">CHÀNH XE PHÚ QUỐC</font></b></td>
		<td align="left" valign=middle><b><font face="Times New Roman" size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=middle><b><font face="Times New Roman" size=3 color="#000000"><br></font></b></td>
		<td align="left" valign=middle><b><font face="Times New Roman" size=3 color="#000000"><br></font></b></td>
		<td colspan=4 align="center" valign=middle style="padding-bottom : 200px"><b><font face="Times New Roman" size=3 color="#000000">ĐẠI DIỆN NHÀ XE / LÁI XE</font></b></td>
		</tr>
</table>
<img style="position : absolute; top : 20 ; left : 0" src="/images/logo_b_blue.png" width=136 height=77>
<br clear=left>
<!-- ************************************************************************** -->
<div style="page-break-after: always;"></div>
<table  class="table_print" cellspacing="0" border="0">
	<colgroup width="53"></colgroup>
	<colgroup width="150"></colgroup>
	<colgroup width="135"></colgroup>
	<colgroup width="141"></colgroup>
	<colgroup width="133"></colgroup>
	<colgroup width="127"></colgroup>
	<tr>
		<td style="border-bottom: 1px solid #000000" colspan=6 height="24" align="center" valign=middle bgcolor="#FFFF00"><b><font face="Times New Roman" size=3 color="#FF0000">QUY ĐỊNH VỀ THỜI GIAN DI CHUYỂN CỦA XE</font></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=3 height="56" align="center" valign=middle><b><font face="Times New Roman" color="#000000">STT</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=3 align="center" valign=middle><b><font face="Times New Roman" color="#000000">NƠI ĐI</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 rowspan=2 align="center" valign=middle><b><font face="Times New Roman" color="#000000">THỜI GIAN QUY ĐỊNH XE ĐẾN PHÀ HÒN CHÔNG</font></b></td>
		</tr>
	<tr>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font face="Times New Roman" color="#000000">&lt; 6 TẤN</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font face="Times New Roman" color="#000000">8 TẤN ; 15 TÂN; 20 TẤN</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font face="Times New Roman" color="#000000">ĐẦU KÉO 12M</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font face="Times New Roman" color="#000000">ROMOOC LÙN</font></b></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="17" align="center" valign=middle sdval="1" sdnum="1033;"><font face="Times New Roman" color="#000000">1</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font face="Times New Roman" color="#000000">TP.HCM</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">7 h (Giờ)</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">8 h (Giờ)</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">10 h (Giờ)</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">12 h (Giờ)</font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="17" align="center" valign=middle sdval="2" sdnum="1033;"><font face="Times New Roman" color="#000000">2</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">TÂY NINH</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">8 h (Giờ)</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">9 h (Giờ)</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">11 h (Giờ)</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">13 h (Giờ)</font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="17" align="center" valign=middle sdval="3" sdnum="1033;"><font face="Times New Roman" color="#000000">3</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">LONG AN</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">6 h (Giờ)</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">7 h (Giờ)</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">9 h (Giờ)</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">11 h (Giờ)</font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 height="35" align="center" valign=middle sdval="4" sdnum="1033;"><font face="Times New Roman" color="#000000">4</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font face="Times New Roman" color="#000000">ĐỒNG NAI,</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="Times New Roman" color="#000000">8 h (Giờ)</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="Times New Roman" color="#000000">9 h (Giờ)</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="Times New Roman" color="#000000">11 h (Giờ)</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle><font face="Times New Roman" color="#000000">13 h (Giờ)</font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font face="Times New Roman" color="#000000">BÌNH DƯƠNG</font></b></td>
		</tr>
	<tr>
		<td colspan=6 height="33" align="left" valign=middle><font face="Times New Roman" color="#000000">1* Những xe nào đến Phà trễ hơn thời gian quy định, phải đi Phà khác do hàng gấp, thì tất cả các chi phí phát sinh khi đi phà khác thì xe đó hoàn toàn chịu trách nhiệm.</font></td>
		</tr>
	<tr>
		<td colspan=6 height="17" align="left" valign=middle><font face="Times New Roman" color="#000000">2* Thời gian xe có mặt tại bến Phà Hòn Chông chậm nhất là 5h sáng hàng ngày.</font></td>
		</tr>
	<tr>
		<td colspan=6 height="33" align="left" valign=middle><font face="Times New Roman" color="#000000">3* Tất cả các xe có quyền từ chối vận chuyển nếu không đáp ứng được thời gian bên trên. Nếu đã chấp nhận đi hàng thì phải cam kết đúng thời gian đã được quy định.</font></td>
		</tr>
	<tr>
		<td colspan=6 height="33" align="left" valign=middle><font face="Times New Roman" color="#000000">4* Thời gian quy định bên trên được áp dụng khi xe đã lên hàng xong tại kho người gửi và bắt đầu di chuyển. Khi đó thời gian bắt đầu được tính. Nếu quá số giờ quy định ở bảng trên xem như xe đó trễ giờ.</font></td>
		</tr>
	<tr>
		<td colspan=6 height="21" align="center" valign=middle bgcolor="#FFFF00"><b><font face="Times New Roman" size=3 color="#FF0000">TRÁCH NHIỆM CỦA NHÀ XE TRONG QUÁ TRÌNH VẬN CHUYỂN HÀNG HÓA</font></b></td>
		</tr>
	<tr>
		<td colspan=6 height="17" align="left" valign=middle><font face="Times New Roman" color="#000000">1* Đảm bảo cung cấp đầy đủ phương tiện, đủ khả năng lưu hành để vận chuyển theo yêu cầu Bảo Khang Thịnh (Gọi tắt BKT)</font></td>
		</tr>
	<tr>
		<td colspan=6 height="17" align="left" valign=middle><font face="Times New Roman" color="#000000">2* Đảm bảo giao nhận hàng hóa đúng thời gian, đúng địa điểm giao nhận đã thỏa thuận và chịu sự giám sát của đại diện BKT</font></td>
		</tr>
	<tr>
		<td colspan=6 height="17" align="left" valign=middle><font face="Times New Roman" color="#000000">3* Đảm bảo phương tiện cho thuê luôn trong tình trạng hoạt động bình thường.</font></td>
		</tr>
	<tr>
		<td colspan=6 height="52" align="left" valign=middle><font face="Times New Roman" color="#000000">4* Nhà Xe có trách nhiệm bảo quản hàng hoá cho Bên BKT trong suốt thời gian vận chuyển. Nếu làm hư hỏng hoặc mất mát hoặc thay thế bộ phận thì Bên Nhà Xe phải bồi thường cho Bên BKT theo nguyên giá của tài sản bị hư hỏng, mất mát đồng thời phải chịu phạt 8% trên tổng giá trị hàng hóa vận chuyển mà bị hư hỏng hoặc mất.</font></td>
		</tr>
	<tr>
		<td colspan=6 height="17" align="left" valign=middle><font face="Times New Roman" color="#000000">5* Chịu trách nhiệm mua bảo hiểm hàng hóa và phương tiện vận chuyển, cước vận chuyển</font></td>
		</tr>
	<tr>
		<td colspan=6 height="17" align="left" valign=middle><font face="Times New Roman" color="#000000">6* Chịu trách nhiệm pháp lý về Tất cả các loại giấy tờ khi tham gia vận chuyển hàng hóa theo quy định của Pháp luật.</font></td>
		</tr>
	<tr>
		<td colspan=6 height="33" align="left" valign=middle><font face="Times New Roman" color="#000000">7* Chịu trách nhiệm về tài chính liên quan đến mọi sự cố phát sinh như cháy nổ, hư hỏng, mất mát, tai nạn do lỗi Bên Nhà Xe gây ra trong quá trình vận chuyển hàng hóa cho Bên BKT.</font></td>
		</tr>
	<tr>
		<td colspan=6 height="52" align="left" valign=middle><font face="Times New Roman" color="#000000">8* Đảm bảo cho Bên BKT vô can đối với mọi khiếu kiện, khiếu nại, thiệt hại, mất mát về trách nhiệm pháp lý liên quan đến thương tật, tổn thất nhân mạng đối với bất kỳ người nào, mất mát, tổn thất hay phá hủy tài sản phát sinh từ vấn đề vận chuyển trong quá trình Bên Nhà Xe vận chuyển hàng hóa cho Bên BKT đối với các trường hợp phát sinh do lỗi của Bên Nhà Xe gây ra.</font></td>
		</tr>
	<tr>
		<td colspan=6 height="50" align="left" valign=middle><font face="Times New Roman" color="#000000">9* Trong trường hợp vận chuyển không đúng tiến độ đã thỏa thuận, ảnh hưởng tới tiến độ thi công của công trình, thì Bên Nhà Xe chịu trách nhiệm bồi thường 25% giá trị chi phí vận chuyển mỗi chuyến xe cho mỗi ngày trễ hạn. (Trừ trường hợp bất khả kháng như thiên tai, tắc ách cầu đường vv…).</font></td>
		</tr>
	<tr>
		<td colspan=6 height="33" align="left" valign=middle><font face="Times New Roman" color="#000000">10* Trường hợp Bên B không giao hàng trong vòng 2 ngày kể từ thời hạn quy định đã thống nhất theo xác nhận đặt hàng, Bên BKT có quyền chấm dứt Hợp đồng. Mọi chi phí phát sinh do chấm dứt Hợp đồng do Bên Nhà Xe chịu.</font></td>
		</tr>
	<tr>
		<td colspan=6 height="17" align="left" valign=middle><font face="Times New Roman" color="#000000">11* Nhà Xe có quyền yêu cầu Bên BKT thanh toán theo đúng thời hạn đã thỏa thuận giữa hai bên.</font></td>
		</tr>
	<tr>
		<td colspan=6 height="17" align="left" valign=middle><font face="Times New Roman" color="#000000">12* Cung cấp hóa đơn VAT và các chứng từ khác liên quan cho Bên BKT (Phí cầu đường, vé qua phà …)</font></td>
		</tr>
	<tr>
		<td colspan=6 height="17" align="left" valign=middle><font face="Times New Roman" color="#000000">13* Tuân thủ nội quy an toàn lao động và an ninh trật tự tại công trình và kho của bên khách hàng của BKT.</font></td>
		</tr>
	<tr>
		<td colspan=6 height="25" align="center" valign=middle bgcolor="#FFFF00"><b><font face="Times New Roman" size=3 color="#FF0000">MỘT SỐ QUY ĐỊNH CHUNG NHÀ XE CẦN LƯU Ý</font></b></td>
		</tr>
	<tr>
		<td colspan=6 height="69" align="left" valign=bottom><font face="Times New Roman" color="#000000">1* Quy định về thời gian lái xe báo cho Phà khi cần về đất liền: Khi xe ở bên đảo Phú Quốc, Tài Xế muốn về thì phải thông báo cho Mr.Nghĩa (số điện thoại bên dưới) để báo giờ dự kiến đến bến Phà để về đất liền. Tài Xế nào không báo cho Mr.Nghĩa trước nếu Phà đã về thì lỗi không thuộc về BKT mà do Tài Xế không báo trước. Cứ 16h chiều hằng ngày xe nào về đất liền phải thông báo. Xe không báo xem như là xe đó muốn ở lại. Số điện thoại ( Mr.Nghĩa ) 0937 728 269  - 0964 492 913</font></td>
		</tr>
	<tr>
		<td colspan=6 height="17" align="left" valign=bottom><i><font face="Times New Roman" color="#0070C0">2* Quy định về việc Nhà Xe chở hàng về từ Phú Quốc đi SG:</font></i></td>
		</tr>
	<tr>
		<td colspan=6 height="17" align="left" valign=middle><font face="Times New Roman" color="#000000">1)&nbsp; Đối với hàng đi và hàng về của BKT thì xe tải sẽ được miễn phí toàn bộ dịch vụ ăn uống, vé Phà chiều đi và chiều về </font></td>
		</tr>
	<tr>
		<td colspan=6 height="35" align="left" valign=middle><font face="Times New Roman" color="#000000">2)&nbsp; Đối với những xe tải không chở hàng của BKT mà qua Phà thì sẽ chịu phí như sau: Xe 3 chân = 2.000.000đ/lượt; Xe 4 chân = 2.500.000đ/lượt; Đầu kéo = 5.000.000đ/lượt (Phí có thể thanh toán bằng tiền mặt hoặc trừ vào cước xe cuối tháng)</font></td>
		</tr>
	<tr>
		<td colspan=6 height="32" align="left" valign=middle><font face="Times New Roman" color="#000000">3)&nbsp; Tài Xế xe khi đi Phà phải khai báo là “xe có hàng” hay “xe không có hàng”; “xe không có hàng phải mở bửng bên trái hoặc phải để kiểm tra trước khi xuống Phà. </font></td>
		</tr>
	<tr>
		<td colspan=6 height="17" align="left" valign=middle><font face="Times New Roman" color="#000000">4)&nbsp; Đối với những xe có trả phí qua Phà không áp dụng hình thức kiểm tra xe.</font></td>
		</tr>
	<tr>
		<td colspan=6 height="17" align="left" valign=middle><font face="Times New Roman" color="#000000">5)&nbsp; Đối với những Xe chạy hàng ngoài mà không thông báo cho BKT biết sẽ bị hình thức kỹ luật theo nội quy riêng của BKT.</font></td>
		</tr>
	<tr>
		<td style="border-right: 1px solid #000000" rowspan=6 height="104" align="center" valign=middle><b><i><font face="Times New Roman" color="#0070C0">Quy <br>định kích thước xe</font></i></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><i><font face="Times New Roman" color="#000000">LOẠI XE</font></i></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><i><font face="Times New Roman" color="#000000">TẢI TRỌNG XE</font></i></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle><b><i><font face="Times New Roman" color="#000000">KÍCH THƯỚC XE</font></i></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">2 Chân</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">8 tấn</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle><font face="Times New Roman" color="#000000">Dài &gt;7.2m Rộng 2.35m Cao 2.4m</font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">3 Chân</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">15 tấn – 16 tấn</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle><font face="Times New Roman" color="#000000">Dài &gt;9.0m Rộng 2.35m Cao 2.4m</font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">4 Chân</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">20 tấn – 21 tấn</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle><font face="Times New Roman" color="#000000">Dài &gt;9.5m Rộng 2.35m Cao 2.4m</font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">Đầu kéo sàn</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">33 Tấn</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle><font face="Times New Roman" color="#000000">Dài 12m Rộng 2.4m Cao 2.7m</font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">Ro-Mooc Lùn</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#000000">33 Tấn</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle><font face="Times New Roman" color="#000000">Dài 12m Rộng 3.3m Cao 3.3m</font></td>
		</tr>
</table>
<!-- ************************************************************************** -->
<div style="page-break-after: always;"></div>
