{% extends 'manage.layouts.ermisform7-c' %}
{% set moment = use('moment/moment') %}
{% block content_voucher %}
         {% include 'pos.includes._FormFindVoucher' %}
{% endblock %}
{% block content_barcode %}
    <div class="uk-width-medium-4-4">
        <input type="radio" name="filter_nature" id="1" value="1" class="k-radio" checked="checked">
        <label class="k-radio-label" for="1">{{ antl.get('marial_goods.material_goods') }}</label>
        <!--<input type="radio" name="filter_nature" id="2" value="2" class="k-radio">
        <label class="k-radio-label" for="2">{{ antl.get('marial_goods.finished') }}</label>
        <input type="radio" name="filter_nature" id="3" value="3" class="k-radio">
        <label class="k-radio-label" for="3">{{ antl.get('marial_goods.service') }}</label>-->
    </div>
    <div class="uk-margin-medium-top"></div>

    <select class="droplist medium" name="filter_inventory_receipt">
            <option readonly selected value="0">--Select--</option>
              {% for m in stock %}
                <option value="{{ m.id }}">{{ shortif( lang == 'vn' , m.code + ' - ' + m.name ,m.code + ' - ' +  m.name_en )}}</option>
               {% endfor %}
        </select>

    <select class="droplist" name="filter_field">
        <option readonly selected value="">--Select--</option>
        <option value="code">{{ antl.get('global.code') }}</option>
        <option value="name">{{ antl.get('global.name') }}</option>
        <option value="date_voucher">{{ antl.get('inventory_voucher.date_post') }}</option>
        <option value="lot_number">{{ antl.get('inventory_voucher.lot_number') }}</option>
    </select>

    <input type="text" name="filter_value" class="k-textbox">
    <a href="javascript:;" class="uk-margin-left-30 k-button k-primary" id="search_barcode" data-uk-tooltip=""><i class="md-18 material-icons md-color-white">search</i>{{ antl.get('action.search') }}</a>

    <div class="uk-margin-medium-top"></div>

    <div id="grid_barcode"></div>

    <div class="uk-margin" style="float : right">
        <a href="javascript:;" class="k-button k-primary choose_barcode" data-uk-tooltip title="{{ antl.get('action.choose') }}"><i class="md-18 material-icons md-color-white">done</i>{{ antl.get('action.choose') }}</a>
        <a href="javascript:;" class="k-button k-primary cancel-window" data-uk-tooltip title="{{ antl.get('action.close') }}"><i class="md-18 material-icons md-color-white">not_interested</i>{{ antl.get('action.close') }}</a>
    </div>
{% endblock %}

{% block content_reference %}
    <span>{{ antl.get('global.name') }}</span>
    <select class="droplist large" name="filter_voucher">
          <option value="1">{{ antl.get('transfer_issue_plan_voucher.title') }}</option>
    </select>

    <div class="uk-margin-medium-top"></div>

    <select class="droplist medium" id="fast_date">
        <option value="">{{ antl.get('action.choose') }}</option>
        <option value="today">{{ antl.get('global.today') }}</option>
        <option value="this_week">{{ antl.get('global.this_week') }}</option>
        <option value="this_month">{{ antl.get('global.this_month') }}</option>
        <option value="this_quarter">{{ antl.get('global.this_quarter') }}</option>
        <option value="this_year">{{ antl.get('global.this_year') }}</option>
        <option value="january">{{ antl.get('global.january') }}</option>
        <option value="february">{{ antl.get('global.february') }}</option>
        <option value="march">{{ antl.get('global.march') }}</option>
        <option value="april">{{ antl.get('global.april') }}</option>
        <option value="may">{{ antl.get('global.may') }}</option>
        <option value="june">{{ antl.get('global.june') }}</option>
        <option value="july">{{ antl.get('global.july') }}</option>
        <option value="august">{{ antl.get('global.august') }}</option>
        <option value="september">{{ antl.get('global.september') }}</option>
        <option value="october">{{ antl.get('global.october') }}</option>
        <option value="november">{{ antl.get('global.november') }}</option>
        <option value="december">{{ antl.get('global.december') }}</option>
        <option value="the_1st_quarter">{{ antl.get('global.the_1st_quarter') }}</option>
        <option value="the_2nd_quarter">{{ antl.get('global.the_2nd_quarter') }}</option>
        <option value="the_3rd_quarter">{{ antl.get('global.the_3rd_quarter') }}</option>
        <option value="the_4th_quarter">{{ antl.get('global.the_4th_quarter') }}</option>
    </select>

    <span>{{ antl.get('global.start_date') }} :</span>
    <input type="text" id="start" class="start" name="start" value="{{ moment().format('DD/MM/YYYY') }}" />

    <span>{{ antl.get('global.end_date') }}:</span>
    <input type="text" id="end" class="end" name="end" value="{{ moment().format('DD/MM/YYYY') }}" />


    <a href="javascript:;" class="uk-margin-left-30 k-button k-primary" id="get_data" data-uk-tooltip=""><i class="md-18 material-icons md-color-white">event_available</i>{{ antl.get('global.get_data') }}</a>

    <div class="uk-margin-medium-top"></div>

    <div id="grid_reference"></div>

    <div class="uk-margin" style="float : right">
        <a href="javascript:;" class="k-button k-primary choose_reference" data-uk-tooltip title="{{ antl.get('action.choose') }}"><i class="md-18 material-icons md-color-white">done</i>{{ antl.get('action.choose') }}</a>
        <a href="javascript:;" class="k-button k-primary cancel-window" data-uk-tooltip title="{{ antl.get('action.close') }}"><i class="md-18 material-icons md-color-white">not_interested</i>{{ antl.get('action.close') }}</a>
    </div>
{% endblock %}



{% block content_add %}
    <div class="uk-width-medium-4-4">
      {% include 'manage.includes._TableTransferIssueWarehouseVoucher' %}
    </div>
{% endblock %}
{% block tabs %}
    <div id="tabstrip">
        <ul style="display:none"><li class="k-state-active">{{ antl.get('inventory_voucher.item') }}</li><li>{{ antl.get('global.expand') }}</li></ul>
        <div><div id="grid"></div> </div>
        <div>
            <table>
                <tr>
                    <td class="row-label-responsive"><label>{{ antl.get('global.expand') }}</label></td>
                    <td colspan="2"><input type="text" class="k-textbox large" /></td>

                    <td class="row-label-responsive"></td>
                    <td><label>{{ antl.get('global.expand') }}</label></td>
                    <td colspan="2"><input type="text" class="k-textbox large" /></td>
                </tr>

                <tr>
                    <td><label>{{ antl.get('global.expand') }}</label></td>
                    <td colspan="2"><input type="text" class="k-textbox large" /></td>

                    <td class="row-label-responsive"></td>
                    <td><label>{{ antl.get('global.expand') }}</label></td>
                    <td colspan="2"><input type="text" class="k-textbox large" /></td>
                </tr>

                <tr>
                    <td><label>{{ antl.get('global.expand') }}</label></td>
                    <td colspan="2"><input type="text" class="k-textbox large" /></td>

                    <td class="row-label-responsive"></td>
                    <td><label>{{ antl.get('global.expand') }}</label></td>
                    <td colspan="2"><input type="text" class="k-textbox large" /></td>
                </tr>

            </table>
        </div>

    </div>
    <div class="uk-width-medium-4-4">
        <div id="grid"></div>
    </div>
{% endblock %}

{% block scripts_add %}
    <script>

        jQuery(document).ready(function () {
            Ermis.data = [];
            Ermis.link = "{{ key }}";
            Ermis.per = JSON.parse('{{ permission | safe }}');
            Ermis.voucher = "{{ voucher }}";
            Ermis.room = "{{ room }}";
            Ermis.columns_voucher = [{"field" : "date_voucher","title" : "{{ antl.get('inventory_voucher.date_voucher')}}" ,template : "#=FormatDate(date_voucher)#"  },
                                    {"field" : "voucher","title" : "{{ antl.get('inventory_voucher.voucher') }}" },
                                    {"field" : "description","title" : "{{ antl.get('inventory_voucher.description') }}" },
                                    {"field" : "total_amount","title" :  "{{ antl.get('inventory_voucher.total_amount') }}"}]


            Ermis.columns_reference = [ {"field" : "date_voucher","title" : "{{ antl.get('inventory_voucher.date_voucher') }}"  , type:"date" ,template: '#= FormatDate(date_voucher)#' },
                                        {"field" : "voucher","title" : "{{ antl.get('inventory_voucher.voucher') }}" },
                                        {"field" : "description","title" : "{{ antl.get('inventory_voucher.description') }}" },
                                        {"field" : "transport","title" :  "{{ antl.get('transport.title') }}" },
                                        {"field" : "total_amount","title" :  "{{ antl.get('inventory_voucher.total_amount') }}" ,template: '#= FormatNumber(total_amount)#'} ]


           Ermis.columns_barcode = [{title: 'Select All',headerTemplate: '<input type="checkbox" id="header-chb-b" class="k-checkbox"><label class="k-checkbox-label" for="header-chb-b"></label>',template: function(dataItem){return '<input type="checkbox" id="c-'+dataItem.id+'" class="k-checkbox"><label class="k-checkbox-label" for="c-'+dataItem.id+'"></label>'},width: 80},
                                      {"field" : "code","title" : "{{ antl.get('global.code') }}" },
                                      {"field" : "name","title" : "{{ antl.get('global.name') }}" },
                                      { "field" : "sender_fullname","title" : "{{ antl.get('return.sender') }}" },
                                      {"field" : "date_voucher","title" : "{{ antl.get('inventory_voucher.date_post') }}", type:"date" ,template: '#= FormatDate(date_voucher)#'  },
                                      {"field" : "lot_number","title" :  "{{ antl.get('inventory_voucher.lot_number') }}" }]
            Ermis.columns    = [{"field" :"detail", hidden : true},
                                { "field" : "item_id","title" : "{{ antl.get('inventory_voucher.item_code') }}" ,"width" : "200px" ,  editor: PriItemsDropDownEditor ,template : "#=getItemName(item_id,'Ermis.item','item_id')#"},
                                { "field" : "name","title" : "{{ antl.get('inventory_voucher.item_name') }}" ,"width" : "200px" ,"set" : "1",aggregates: ['count'], footerTemplate: "<p>Total Count: #=count#</p>" },
                                { "field" : "sender_fullname","title" : "{{ antl.get('return.sender') }}" ,"width" : "200px" ,"set" : "1" },
                                { "field" : "date_voucher","title" : "{{ antl.get('inventory_voucher.date_post') }}", type:"date" ,template: '#= FormatDate(date_voucher)#' ,"set" : "1" },
                                { "field" : "lot_number","title" : "{{ antl.get('inventory_voucher.lot_number') }}" ,"set" : "1" },
                                { "field" : "quantity","title" : "{{ antl.get('inventory_voucher.quantity') }}","width" : "100px","set" : "1",aggregates: ['sum'], footerTemplate: "<p id='quantity_total'>#=sum#</p>" }]

            Ermis.field = {
                detail : {field :"detail" ,defaultValue: 0},
                item_id : { field : "item_id",type:"number"},
                date_voucher : {editable: false },
                name : {editable: false },
                lot_number :  {editable: false },
                quantity : {editable: false },
            };
            Ermis.aggregate = [ { field: "name", aggregate: "count" },
                                { field: "quantity", aggregate: "sum" }];
            Ermis.item =  {{ item | json | safe }};
            Ermis.voucher  =  {{ voucher | json | safe }};
        });
    </script>
{% endblock %}
{% block scripts_end %}
  <script src="{{ url('scripts/addon/backend/ermis-add-3.js') }}"></script>
{% endblock %}
