<! -- PRINT FORM -->
<div id="printbill" class="hidden">
<table align="left" cellspacing="0" border="0">
	<colgroup span="26" width="35"></colgroup>
	<tr>
		<td height="30" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom colspan="20"><b><font face="Times New Roman" style="margin-left : 80px" size=5 color="#00B050" >CÔNG TY TNHH MTV TM BẢO KHANG THỊNH</font></b></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom colspan="20"><font face="Times New Roman" style="margin-left : 80px" size=3 color="#0070C0">       Add: Số 12 Tổ 1, Ấp Tường Trí, Xã Tường Lộc, Huyện Tam Bình, Tỉnh Vĩnh Long, Việt Nam</font></td>
	</tr>
	<tr>
		<td height="22" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom colspan="20"><font face="Times New Roman" style="margin-left : 80px" size=3 color="#0070C0">       Tel : +84 703 860 686         *      Fax: 84 703 711 519</font></td>
	</tr>
	<tr>
		<td height="30" align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="left" valign=bottom colspan="20"><font face="Times New Roman" style="margin-left : 80px" size=3 color="#0070C0">       Hotline: 094 500 00 06     *      Website: www.baokhangthinh.vn    www.vantainoidia.vn</font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=26 height="51" align="center" valign=middle><b><font face="Times New Roman" size=5 color="#000000">BIÊN BẢN GIAO NHẬN HÀNG HÓA</font></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 height="37" align="center" valign=middle bgcolor="#00B050"><b><font face="Times New Roman" color="#000000">SỐ CHỨNG TỪ</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=9 align="center" valign=middle bgcolor="#FCD5B5"><b><font face="Times New Roman" size=4 color="#000000"><br><span class="voucher_print"></span></font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=5 align="center" valign=middle bgcolor="#00B050"><b><font face="Times New Roman" color="#000000">NGÀY GỬI HÀNG</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=8 align="center" valign=middle bgcolor="#FCD5B5"><b><font face="Times New Roman" color="#000000"><br><span class="date_voucher"></span></font></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=13 height="38" align="center" valign=middle bgcolor="#D7E4BD"><b><font face="Times New Roman" color="#FF0000">THÔNG TIN NGƯỜI GỬI HÀNG</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=13 align="center" valign=middle bgcolor="#D7E4BD"><b><font face="Times New Roman" color="#FF0000">THÔNG TIN NGƯỜI NHẬN HÀNG</font></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 height="38" align="right" valign=middle><i><font face="Times New Roman" color="#000000">KHÁCH HÀNG/CTY</font></i></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=9 align="center" valign=middle><font face="Times New Roman" color="#000000"><br><span class="company_name" > </span></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="right" valign=middle><i><font face="Times New Roman" color="#000000">KHÁCH HÀNG/CTY</font></i></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=9 align="center" valign=middle><font face="Times New Roman" color="#000000"><br> <span class="receiver_fullname" ></span> </font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 height="38" align="right" valign=middle><i><font face="Times New Roman" color="#000000">ĐIẠ CHỈ GỬI HÀNG</font></i></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=9 align="center" valign=middle><font face="Times New Roman" color="#000000"><br><span class="sender_address" ></span></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="right" valign=middle><i><font face="Times New Roman" color="#000000">ĐC NHẬN HÀNG</font></i></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=9 align="center" valign=middle><font face="Times New Roman" color="#000000"><br> <span class="receiver_address" > </span> </font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 height="38" align="right" valign=middle><i><font face="Times New Roman" color="#000000">ĐIỆN THOẠI</font></i></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=9 align="center" valign=middle><font face="Times New Roman" color="#000000"><br><span class="sender_phone" > </span></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="right" valign=middle><i><font face="Times New Roman" color="#000000">ĐIỆN THOẠI</font></i></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=9 align="center" valign=middle><font face="Times New Roman" color="#000000"><br> <span class="receiver_phone" > </span> </font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 height="38" align="right" valign=middle><i><font face="Times New Roman" color="#000000">NGƯỜI LIÊN HỆ</font></i></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=9 align="center" valign=middle><font face="Times New Roman" color="#000000"><br><span class="sender_fullname" > Phan Kim Sơn</span></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="right" valign=middle><i><font face="Times New Roman" color="#000000">NGƯỜI LIÊN HỆ</font></i></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=9 align="center" valign=middle><font face="Times New Roman" color="#000000"><br><span class="receiver_fullname" > Phan Kim Sơn</span></font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=26 height="38" align="center" valign=middle bgcolor="#D7E4BD"><b><font face="Times New Roman" color="#000000">CHI TIẾT HÀNG HÓA VẬN CHUYỂN</font></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 height="38" align="center" valign=middle><font face="Times New Roman" color="#000000">STT</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000">MẶT HÀNG</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000">SỐ LƯỢNG</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000">ĐƠN GIÁ<br>VẬN CHUYỂN</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000">PHỤ PHÍ</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000">TỔNG CỘNG</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle bgcolor="#FF0000"><font face="Times New Roman" color="#000000">KH OF SALES</font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 height="38" align="center" valign=middle><font face="Times New Roman" color="#000000"><br>1</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000"><br><span class="name" > </span></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000"><br><span class="quantity" > </span><span class="unit_quantity" ></span></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000"><br><span class="price" > </span></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000"><br><span class="surcharge_amount" > </span><span class="surcharge" ></span></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000"><br><span class="total" > </span></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 rowspan=2 align="center" valign=middle bgcolor="#FF0000"><font face="Times New Roman" color="#000000"><span class="sale_staff" > </span></font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 height="38" align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="38" align="center" valign=middle><font face="Times New Roman" color="#000000">CHI TIẾT HÀNG HÓA</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=20 align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=26 height="38" align="center" valign=middle bgcolor="#D7E4BD"><b><font face="Times New Roman" color="#000000">THÔNG TIN THANH TOÁN CƯỚC VẬN CHUYỂN</font></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 height="38" align="center" valign=middle><font face="Times New Roman" color="#000000">TIỀN THANH TOÁN</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000">NGƯỜI TT</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000">SỐ ĐIỆN THOẠI</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><b><font face="Times New Roman" color="#FF0000">HÌNH THỨC TT</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000">NGƯỜI THU TIỀN</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 align="center" valign=middle><font face="Times New Roman" color="#000000">GHI CHÚ KHÁC</font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 height="38" align="center" valign=middle><font face="Times New Roman" color="#000000"><br><span class="total_amount" > 30.000</span></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000"><br><span class="sender_fullname" > </span></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000"><br><span class="sender_phone" > </span></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000"><br><span class="payment_method" > </span></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 align="center" valign=middle><font face="Times New Roman" color="#000000"><br><span class="user" > </span></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 align="center" valign=middle><font face="Times New Roman" color="#000000"><br><span class="note" > </span></font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=7 height="38" align="center" valign=middle bgcolor="#D7E4BD"><b><font face="Times New Roman" color="#000000">NGƯỜI GỬI KÝ XÁC NHẬN</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=12 align="center" valign=middle bgcolor="#D7E4BD"><b><font face="Times New Roman" color="#000000">ĐẠI DIỆN BÊN VẬN CHUYỂN KÝ XÁC NHẬN</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=7 align="center" valign=middle bgcolor="#D7E4BD"><b><font face="Times New Roman" color="#000000">NGƯỜI NHẬN HÀNG XÁC NHẬN</font></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=7 rowspan=5 height="188" align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=12 rowspan=5 align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=7 rowspan=5 align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		</tr>
	<tr>
		</tr>
	<tr>
		</tr>
	<tr>
		</tr>
	<tr>
		</tr>
	<tr>
		<td height="27" align="left" colspan="24" valign=middle><b><font face="Times New Roman" color="#000000">LƯU Ý / NOTE: </font></b></td>
	</tr>
	<tr>
		<td height="27" align="left" colspan="24"  valign=middle><font face="Times New Roman" color="#000000">* CÁC BÊN LIÊN QUAN GHI RÕ NGÀY GiỜ GIAO NHẬN HÀNG, KÝ NHẬN, HỌ TÊN, ĐIỆN THOẠI.</font></td>

	</tr>
	<tr>
		<td height="27" align="left" colspan="24"  valign=middle><font face="Times New Roman" color="#000000">* TRƯỜNG HỢP NGƯỜI VẬN CHUYỂN KHÔNG CÓ MẶT TẠI ĐIỂM GIAO HÀNG, THÌ TÀI XẾ XE SẼ ĐẠI DIỆN CHO BÊN VẬN CHUYỂN ĐỂ GIAO.</font></td>

	</tr>
	<tr>
		<td height="27" align="left" colspan="24"  valign=middle><i><font face="Times New Roman" color="#000000">* YÊU CẦU NGƯỜI NHẬN HÀNG SAU KHI NHẬN XONG HÀNG FAX BẢN NÀY CHO NGƯỜI VẬN CHUYỂN BẢO KHANG THỊNH - FAX: 0703 711 519</font></i></td>

	</tr>
	<tr>
		<td height="27" align="left" colspan="24"  valign=middle><i><font face="Times New Roman" color="#000000">* KHI NGƯỜI NHẬN HÀNG KÝ NHẬN THÌ ĐỒNG NGHĨA VỚI VIỆC HÀNG HÓA ĐÃ GIAO NHẬN ĐẦY ĐỦ, KHÔNG CÓ BẤT KỲ KHIẾU NẠI VỀ SAU.</font></i></td>

	</tr>
	<tr>
		<td height="27" align="left" valign=middle><i><font face="Times New Roman" color="#000000"></font></i></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
		<td align="center" valign=middle><font face="Times New Roman" color="#000000"><br></font></td>
	</tr>
</table>
<img style="position : absolute; top : 20 ; left : 0" src="{{ url('images/logo_b_blue.png') }}" width=136 height=77>
<br clear=left>
<!-- ************************************************************************** -->
  </div>
<! -- PRINT FORM -->
