<div id="printbill" class="hidden">
<style id="BIENBANGIAONHAN_27751_Styles">
<!--table
	{mso-displayed-decimal-separator:"\.";
	mso-displayed-thousand-separator:"\,";}
.font527751
	{color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;}
.font627751
	{color:red;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;}
.font727751
	{color:red;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;}
.xl6327751
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6427751
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6527751
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:"_\(* \#\,\#\#0\.00_\)\;_\(* \\\(\#\,\#\#0\.00\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6627751
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6727751
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl6827751
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";
	text-align:right;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6927751
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7027751
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7127751
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7227751
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7327751
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl7427751
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:white;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7527751
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl7627751
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
-->
</style>
</head>

<body>
<!--[if !excel]>&nbsp;&nbsp;<![endif]-->
<!--The following information was generated by Microsoft Office Excel's Publish
as Web Page wizard.-->
<!--If the same item is republished from Excel, all information between the DIV
tags will be replaced.-->
<!----------------------------->
<!--START OF OUTPUT FROM EXCEL PUBLISH AS WEB PAGE WIZARD -->
<!----------------------------->

<div id="BIENBANGIAONHAN_27751" align=center x:publishsource="Excel">

<table border=0 cellpadding=0 cellspacing=0 width=556 class=xl6427751
 style='border-collapse:collapse;table-layout:fixed;width:419pt'>
 <col class=xl6427751 width=30 style='mso-width-source:userset;mso-width-alt:
 1097;width:23pt'>
 <col class=xl6427751 width=31 style='mso-width-source:userset;mso-width-alt:
 1133;width:23pt'>
 <col class=xl6427751 width=33 span=4 style='mso-width-source:userset;
 mso-width-alt:1206;width:25pt'>
 <col class=xl6427751 width=132 style='mso-width-source:userset;mso-width-alt:
 4827;width:99pt'>
 <col class=xl6427751 width=33 style='mso-width-source:userset;mso-width-alt:
 1206;width:25pt'>
 <col class=xl6627751 width=106 style='mso-width-source:userset;mso-width-alt:
 3876;width:80pt'>
 <col class=xl6427751 width=92 style='mso-width-source:userset;mso-width-alt:
 3364;width:69pt'>
 <tr height=20 style='height:15.0pt'>
  <td colspan=9 height=20 class=xl7427751 width=464 style='height:15.0pt;
  width:350pt'>.</td>
  <td class=xl6427751 width=92 style='width:69pt'></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td colspan=9 height=20 class=xl7427751 style='height:15.0pt'></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td colspan=9 height=20 class=xl7427751 style='height:15.0pt'></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td colspan=9 height=20 class=xl7427751 style='height:15.0pt'></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td colspan=9 height=20 class=xl7427751 style='height:15.0pt'></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=24 style='mso-height-source:userset;height:18.0pt'>
  <td colspan=9 height=24 class=xl7427751 style='height:18.0pt'></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td colspan=8 height=20 class=xl7427751 style='height:15.0pt'></td>
  <td class=xl6827751><span class="date_voucher"></span></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td colspan=2 height=20 class=xl7427751 style='height:15.0pt'></td>
  <td class=xl6527751 colspan=4 align=left><span class="voucher_print"></span></td>
  <td class=xl6427751></td>
  <td class=xl6427751></td>
  <td class=xl6627751></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=36 style='mso-height-source:userset;height:27.0pt'>
  <td colspan=5 height=36 class=xl7427751 style='height:27.0pt'></td>
  <td colspan=4 class=xl7527751 width=304 style='width:229pt'><p class="sender_fullname"></p></td>
  <td class=xl6727751 width=92 style='width:69pt'></td>
 </tr>
 <tr height=6 style='mso-height-source:userset;height:4.5pt'>
  <td colspan=9 height=6 class=xl7227751 style='height:4.5pt'></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=17 style='mso-height-source:userset;height:12.75pt'>
  <td colspan=5 height=17 class=xl7127751 style='height:12.75pt'></td>
  <td colspan=4 class=xl6927751><span class="sender_fullname"></span></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=8 style='mso-height-source:userset;height:6.0pt'>
  <td colspan=9 height=8 class=xl7227751 style='height:6.0pt'></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=18 style='mso-height-source:userset;height:13.5pt'>
  <td colspan=5 height=18 class=xl7127751 style='height:13.5pt'></td>
  <td colspan=4 class=xl6927751><span class="sender_phone" ></span></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=7 style='mso-height-source:userset;height:5.25pt'>
  <td colspan=9 height=7 class=xl7227751 style='height:5.25pt'></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=46 style='mso-height-source:userset;height:34.5pt'>
  <td colspan=6 height=46 class=xl7127751 style='height:34.5pt'></td>
  <td colspan=3 class=xl7627751 width=271 style='width:204pt'>
  <span class="sender_transport_code" > </span>-<span class="sender_address" ></span></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=7 style='mso-height-source:userset;height:5.25pt'>
  <td colspan=9 height=7 class=xl7227751 style='height:5.25pt'></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=4 style='mso-height-source:userset;height:3.0pt'>
  <td colspan=9 height=4 class=xl7227751 style='height:3.0pt'></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td colspan=5 height=20 class=xl7127751 style='height:15.0pt'></td>
  <td colspan=4 class=xl6927751><span class="receiver_fullname" > </span></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=8 style='mso-height-source:userset;height:6.0pt'>
  <td colspan=9 height=8 class=xl7227751 style='height:6.0pt'></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td colspan=5 height=20 class=xl7127751 style='height:15.0pt'></td>
  <td colspan=4 class=xl6927751><span class="receiver_phone" > </span></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=6 style='mso-height-source:userset;height:4.5pt'>
  <td colspan=9 height=6 class=xl7227751 style='height:4.5pt'></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=45 style='mso-height-source:userset;height:33.75pt'>
  <td colspan=6 height=45 class=xl7127751 style='height:33.75pt'></td>
  <td colspan=3 class=xl7627751 width=271 style='width:204pt'>
  <span class="receiver_transport_code" > </span>-<span class="receiver_address" > </span></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=6 style='mso-height-source:userset;height:4.5pt'>
  <td colspan=9 height=6 class=xl7227751 style='height:4.5pt'></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=7 style='mso-height-source:userset;height:5.25pt'>
  <td colspan=9 height=7 class=xl7227751 style='height:5.25pt'></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td colspan=5 height=20 class=xl7127751 style='height:15.0pt'></td>
  <td class=xl6327751 colspan=2 align=left><span class="name" > </span></td>
  <td class=xl6327751></td>
  <td class=xl7027751><span class="size" > </span></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=6 style='mso-height-source:userset;height:4.5pt'>
  <td colspan=9 height=6 class=xl7227751 style='height:4.5pt'></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td colspan=5 height=20 class=xl7127751 style='height:15.0pt'></td>
  <td class=xl6327751 colspan=2 align=left>
  <span class="total_amount" > </span>
  </td>
  <td class=xl6327751></td>
  <td class=xl7027751><span class="lot_number" > </span></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=7 style='mso-height-source:userset;height:5.25pt'>
  <td colspan=9 height=7 class=xl7227751 style='height:5.25pt'></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=20 style='mso-height-source:userset;height:15.0pt'>
  <td colspan=5 rowspan=2 height=40 class=xl7127751 style='height:30.0pt'></td>
  <td colspan=2 rowspan=2 class=xl7327751 width=165 style='width:124pt'>
  <span class="note" > </span></td>
  <td class=xl6327751></td>
  <td class=xl6927751></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6327751 style='height:15.0pt'></td>
  <td class=xl6927751></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6427751 style='height:15.0pt'></td>
  <td class=xl6427751></td>
  <td class=xl6427751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6927751></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6427751 style='height:15.0pt'></td>
  <td class=xl6427751></td>
  <td class=xl6427751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6927751></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6427751 style='height:15.0pt'></td>
  <td class=xl6427751></td>
  <td class=xl6427751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6927751></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6427751 style='height:15.0pt'></td>
  <td class=xl6427751></td>
  <td class=xl6427751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6927751></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6427751 style='height:15.0pt'></td>
  <td class=xl6427751></td>
  <td class=xl6427751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6927751></td>
  <td class=xl6427751></td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td height=20 class=xl6427751 style='height:15.0pt'></td>
  <td class=xl6427751></td>
  <td class=xl6427751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6327751></td>
  <td class=xl6927751></td>
  <td class=xl6427751></td>
 </tr>
 <![if supportMisalignedColumns]>
 <tr height=0 style='display:none'>
  <td width=30 style='width:23pt'></td>
  <td width=31 style='width:23pt'></td>
  <td width=33 style='width:25pt'></td>
  <td width=33 style='width:25pt'></td>
  <td width=33 style='width:25pt'></td>
  <td width=33 style='width:25pt'></td>
  <td width=132 style='width:99pt'></td>
  <td width=33 style='width:25pt'></td>
  <td width=106 style='width:80pt'></td>
  <td width=92 style='width:69pt'></td>
 </tr>
 <![endif]>
</table>

</div>


<!----------------------------->
<!--END OF OUTPUT FROM EXCEL PUBLISH AS WEB PAGE WIZARD-->
<!----------------------------->
</body>
<!-- ************************************************************************** -->
  </div>
<! -- PRINT FORM -->
