<! -- PRINT FORM -->
<div id="printbill" class="hidden">
<table cellspacing="0" border="0">
	<colgroup width="44"></colgroup>
	<colgroup width="151"></colgroup>
	<colgroup width="80"></colgroup>
	<colgroup width="92"></colgroup>
	<colgroup width="73"></colgroup>
	<colgroup width="98"></colgroup>
	<colgroup span="2" width="77"></colgroup>
	<colgroup span="2" width="80"></colgroup>
	<colgroup width="95"></colgroup>
	<colgroup width="151"></colgroup>
	<colgroup width="96"></colgroup>
	<colgroup width="35"></colgroup>
	<colgroup width="47"></colgroup>
	<colgroup width="26"></colgroup>
	<colgroup span="3" width="72"></colgroup>
	<tr>
		<td colspan=3 rowspan=4 height="94" align="left" valign=bottom><font face="Times New Roman" size=3><br><img src="{{ url('images/logo_b_blue.png') }}" width=196 height=83 hspace=40 vspace=7>
		</font></td>
		<td align="left" valign=bottom sdnum="1033;0;&quot;₫&quot;#,##0.0"><b><i><font face="Times New Roman" size=5 color="#333399"><br></font></i></b></td>
		<td align="left" colspan="15" valign=bottom sdnum="1033;0;&quot;₫&quot;#,##0.0"><b><i><font face="Times New Roman" size=5 color="#008000">CÔNG TY TNHH MTV TM BẢO KHANG THỊNH</font></i></b></td>
	</tr>
	<tr>
		<td align="left" valign=bottom sdnum="1033;0;&quot;₫&quot;#,##0.0"><font face="Times New Roman" size=3><br></font></td>
		<td align="left" colspan="15"  valign=bottom sdnum="1033;0;&quot;₫&quot;#,##0.0"><font face="Times New Roman" size=3 color="#333399">Add: Số 12 Tổ 1, Ấp Tường Trí, Xã Tường Lộc, Huyện Tam Bình, Tỉnh Vĩnh Long</font></td>
	</tr>
	<tr>
		<td align="left" valign=bottom sdnum="1033;0;&quot;₫&quot;#,##0.0"><font face="Times New Roman" size=3><br></font></td>
		<td align="left" colspan="15"  valign=bottom sdnum="1033;0;&quot;₫&quot;#,##0.0"><font face="Times New Roman" size=3 color="#333399">Tel : +84 703 711 519         *      Fax: 84 703 711 519</font></td>
	</tr>
	<tr>
		<td align="left" valign=bottom sdnum="1033;0;&quot;₫&quot;#,##0.0"><font face="Times New Roman" size=3 color="#0000FF"><br></font></td>
		<td align="left" colspan="15" valign=middle><font face="Times New Roman" size=3 color="#0000FF">Hotline: 094 500 00 06</font> * <a href="http://www.vantainoidia.vn/">www.vantainoidia.vn</a> * Website: http://baokhangthinh.vn/ </font></td>
	</tr>
	<tr>
		<td  colspan="13" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=26 height="51" align="center" valign=middle><b><font face="Times New Roman" size=5 color="#000000">BIÊN BẢN GIAO NHẬN HÀNG HÓA</font></b></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=13 height="22" align="left" valign=middle sdnum="1033;1033;[$-409]D-MMM;@"><b><i><font face="Times New Roman" size=3 color="#0000FF"><a href="#CONTROL.A1">THÔNG TIN KHÁCH HÀNG</a></font></i></b></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 height="21" align="left" valign=middle><font face="Times New Roman" size=3>Mã khách hàng</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=10 align="center" valign=middle bgcolor="#99CCFF"><b><font face="Times New Roman" size=3 color="#008080" class="customer_code" >MH170<br></font></b></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 height="21" align="left" valign=middle><font face="Times New Roman" size=3>Tên công ty</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=10 align="center" valign=middle><b><font face="Times New Roman" class="customer_name"  size=3>Công ty TNHH ABC<br></font></b></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 height="21" align="left" valign=middle><font face="Times New Roman" size=3>Địa chỉ:</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 align="center" valign=middle><font face="Times New Roman" class="customer_address">11 PCT<br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=middle><font face="Times New Roman"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="left" valign=middle><font face="Times New Roman" size=3>Số bảng kê:</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdnum="1033;0;_-* #,##0.0 _₫_-;-* #,##0.0 _₫_-;_-* &quot;-&quot;?? _₫_-;_-@_-"><font face="Times New Roman" size=3><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 height="21" align="left" valign=middle><font face="Times New Roman" size=3>Điện thoại:</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" colspan=2 align="center" valign=middle sdnum="1033;0;@"><font face="Times New Roman" size=3 class="customer_phone">0162132<br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left" valign=middle sdnum="1033;0;@"><font face="Times New Roman" size=3>Mã số thuế:</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle sdnum="1033;0;@"><font face="Times New Roman" size=3 class="customer_taxcode">42113377<br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle sdnum="1033;0;@"><font face="Times New Roman" size=3 ><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="left" valign=middle><font face="Times New Roman" size=3>Số hóa đơn:</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 height="21" align="left" valign=middle><font face="Times New Roman" size=3>Fax:</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 align="left" valign=middle sdnum="1033;0;@"><font face="Times New Roman" size=3 class="customer_fax">08 323252<br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=middle sdnum="1033;0;@"><font face="Times New Roman" size=3><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="left" valign=middle><font face="Times New Roman" size=3>Ngày xuất hóa đơn:</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Times New Roman" size=3 class="date_invoice"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 height="21" align="left" valign=middle><font face="Times New Roman" size=3>Liên hệ:</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" colspan=2 align="center" valign=middle><font face="Times New Roman" size=3 class="customer_contact">Phan Văn Tèo<br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=middle><font face="Times New Roman" size=3>Di động:</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" colspan=3 align="left" valign=middle sdnum="1033;0;@"><font face="Times New Roman" size=3 class="customer_contact_phone">0168665224<br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left" valign=middle sdnum="1033;0;@"><font face="Times New Roman" size=3><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="left" valign=middle><font face="Times New Roman" size=3>Hình thức thanh toán</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Times New Roman" size=3 class="customer_payment_method">CK<br></font></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=middle><font face="Times New Roman" size=3><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 height="42" align="center" valign=middle bgcolor="#99CCFF"><b><font face="Times New Roman">STT</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#99CCFF"><b><font face="Times New Roman">SỐ <br>BILL</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#99CCFF"><b><font face="Times New Roman">NGÀY GỬI</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#99CCFF"><b><font face="Times New Roman">BIỂN SỐ XE</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#99CCFF"><b><font face="Times New Roman">NƠI ĐI</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#99CCFF"><b><font face="Times New Roman">NƠI ĐẾN</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#99CCFF"><b><font face="Times New Roman">TÊN HÀNG</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#99CCFF"><b><font face="Times New Roman">SỐ<br> KIỆN</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#99CCFF"><b><font face="Times New Roman">SỐ<br> LƯỢNG</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#99CCFF"><b><font face="Times New Roman">ĐƠN GIÁ</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#99CCFF"><b><font face="Times New Roman">PHỤ PHÍ</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#99CCFF"><b><font face="Times New Roman">LOẠI<br> PHỤ PHÍ</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" rowspan=2 align="center" valign=middle bgcolor="#99CCFF"><b><font face="Times New Roman">TỔNG CƯỚC</font></b></td>
	</tr>
	<tr>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
	</tr>
	<tr class="load_print hidden" >
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="113" align="center" valign=bottom sdval="1" sdnum="1033;0;_-* #,##0 _₫_-;-* #,##0 _₫_-;_-* &quot;-&quot;?? _₫_-;_-@_-"><font face="Times New Roman" class="stt"> </font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdnum="1033;0;_-* #,##0 _₫_-;-* #,##0 _₫_-;_-* &quot;-&quot;?? _₫_-;_-@_-"><font face="Times New Roman" class="code"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdnum="1033;1033;M/D/YYYY"><font face="Times New Roman" class="date_voucher"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdnum="1033;1033;M/D/YYYY"><font face="Times New Roman" class="transport_code"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdnum="1033;1033;M/D/YYYY"><font face="Times New Roman" class="sender_address">địa chỉ <br>lấy hàng</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdnum="1033;1033;M/D/YYYY"><font face="Times New Roman" class="receiver_address">ghi đi đầy đủ, họ tên, <br>điện thoại, địa chỉ</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdnum="1033;1033;M/D/YYYY"><font face="Times New Roman" class="name"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdnum="1033;1033;M/D/YYYY"><font face="Times New Roman" class="lot_number"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><font face="Times New Roman" class="quantity"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><font face="Times New Roman" class="price"> bao nhiêu kiện,<br> hay bao nhiêu thùng </font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFFF00" sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><font face="Times New Roman" class="surcharge_amount"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFFF00" sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><font face="Times New Roman" class="surcharge"> Phụ phí này nếu <br>trong phần nhập liệu có chọn loại phụ phí thì phải hiện thị rõ tên phụ phí luôn </font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#FFFF00" sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><font face="Times New Roman" class="total_amount"> Sum </font></td>
	</tr>
	<tr class="replace hidden" >
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="33" align="center" valign=middle><font face="Times New Roman" color="#FFFFFF">.</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#FFFFFF"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 align="center" valign=middle sdnum="1033;1033;M/D/YYYY"><font face="Times New Roman">TỔNG</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><b><font face="Times New Roman" class="total_quantity_"><br></font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><b><font face="Times New Roman"><br></font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><b><font face="Times New Roman" class="total_surchange_"><br></font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><b><font face="Times New Roman"><br></font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><b><font face="Times New Roman" class="total_amount_"><br></font></b></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" height="33" align="center" valign=middle bgcolor="#CCFFCC"><font face="Times New Roman" color="#FFFF99">.</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="center" valign=middle bgcolor="#CCFFCC"><font face="Times New Roman" color="#FFFF99"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=8 align="center" valign=middle bgcolor="#CCFFCC" sdnum="1033;1033;M/D/YYYY"><font face="Times New Roman">TỔNG CƯỚC CHƯA VAT 10%</font></td>
		<td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=middle bgcolor="#CCFFCC" sdnum="1033;1033;M/D/YYYY"><font face="Times New Roman" class="total_amount_"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" height="33" align="center" valign=middle><font face="Times New Roman" color="#FFFFFF">.</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#FFFFFF"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" colspan=9 align="center" valign=middle sdnum="1033;1033;M/D/YYYY"><font face="Times New Roman">VAT 10%</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="right" valign=middle sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><font face="Times New Roman"  class="vat"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" height="33" align="center" valign=middle><font face="Times New Roman" color="#FFFFFF">.</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="center" valign=middle><font face="Times New Roman" color="#FFFFFF"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" colspan=9 align="center" valign=middle sdnum="1033;1033;M/D/YYYY"><font face="Times New Roman">TỔNG CƯỚC ĐÃ BAO GỒM 10% VAT</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="right" valign=middle sdnum="1033;0;_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;??_);_(@_)"><b><font face="Times New Roman" class="total_amount_include_vat"><br></font></b></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=5 height="22" align="center" valign=middle><i><font face="Times New Roman" size=3>Số tiền bằng chữ:</font></i></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=8 align="left" valign=middle sdnum="1033;1033;[$-409]D-MMM;@"><i><font face="Times New Roman" size=3  class="amount_letter"><br></font></i></td>
	</tr>
	<tr>
		<td colspan=13 height="21" align="center" valign=top><font face="Times New Roman" size=3>Quý khách hàng vui lòng kiểm tra số liệu công nợ trong vòng 1 ngày, nếu có sai sót sẽ được điều chỉnh ở tháng kế tiếp.</font></td>
	</tr>
	<tr>
		<td height="21" align="center" valign=top><font face="Times New Roman" size=3><br></font></td>
		<td align="left" colspan=9 valign=top><font face="Times New Roman" size=3>Thông tin chuyển khoản:</font></td>
	</tr>
	<tr>
		<td height="21" align="center" valign=top><font face="Times New Roman" size=3><br></font></td>
		<td colspan=9 align="left" valign=bottom sdnum="1033;1033;[$-409]D-MMM;@"><font face="Times New Roman" size=3>Ngân hàng: NHNN và PTNT Chi Nhánh Tam Bình, Vĩnh Long</font></td>
		<td align="center" valign=top><font face="Times New Roman" size=3><br></font></td>
		<td align="center" valign=top><font face="Times New Roman" size=3><br></font></td>
		<td align="center" valign=top><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
	</tr>
	<tr>
		<td height="21" align="center" valign=top><font face="Times New Roman" size=3><br></font></td>
		<td colspan=9 align="left" valign=bottom sdnum="1033;1033;[$-409]D-MMM;@"><font face="Times New Roman" size=3>Số TK :  7308 201 001 731</font></td>
		<td align="center" valign=top><font face="Times New Roman" size=3><br></font></td>
		<td align="center" valign=top><font face="Times New Roman" size=3><br></font></td>
		<td align="center" valign=top><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
	</tr>
	<tr>
		<td height="21" align="center" valign=top><font face="Times New Roman" size=3><br></font></td>
		<td colspan=9 align="left" valign=bottom sdnum="1033;1033;[$-409]D-MMM;@"><font face="Times New Roman" size=3>Người thụ hưởng : CÔNG TY TNHH MTV TM BẢO KHANG THỊNH</font></td>
		<td align="center" valign=top><font face="Times New Roman" size=3><br></font></td>
		<td align="center" valign=top><font face="Times New Roman" size=3><br></font></td>
		<td align="center" valign=top><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
	</tr>
	<tr>
		<td height="21" align="center" valign=top><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom sdnum="1033;1033;[$-409]D-MMM;@"><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom sdnum="1033;1033;[$-409]D-MMM;@"><font face="Times New Roman" size=3><br></font></td>
		<td align="center" valign=bottom sdnum="1033;1033;[$-409]D-MMM;@"><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom sdnum="1033;1033;[$-409]D-MMM;@"><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom sdnum="1033;1033;[$-409]D-MMM;@"><font face="Times New Roman" size=3><br></font></td>
		<td align="center" valign=bottom sdnum="1033;1033;[$-409]D-MMM;@"><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom sdnum="1033;1033;[$-409]D-MMM;@"><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom sdnum="1033;1033;[$-409]D-MMM;@"><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom sdnum="1033;1033;[$-409]D-MMM;@"><font face="Times New Roman" size=3><br></font></td>
		<td align="center" valign=top><font face="Times New Roman" size=3><br></font></td>
		<td align="center" valign=top><font face="Times New Roman" size=3><br></font></td>
		<td align="center" valign=top><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
	</tr>
	<tr>
		<td colspan=7 height="24" align="left" valign=middle><i><font face="Times New Roman" size=3>               TP. HCM, ngày       tháng       năm   </font></i></td>
		<td align="left" valign=middle><i><font face="Times New Roman" size=3><br></font></i></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td style="border-bottom: 2px double #000000" colspan=3 align="center" valign=bottom><b><font face="Times New Roman" size=4><br></font></b></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
	</tr>
	<tr>
		<td colspan=6 height="25" align="center" valign=bottom><font face="Times New Roman" color="#FF0000">PHÒNG KẾ TOÁN</font></td>
		<td align="left" valign=bottom><font face="Times New Roman"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman"><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman"><br></font></td>
		<td style="border-top: 2px double #000000" colspan=3 align="center" valign=bottom><b><font face="Times New Roman">XÁC NHẬN CỦA KHÁCH HÀNG</font></b></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
	</tr>
	<tr>
		<td height="21" align="center" valign=bottom><font face="Times New Roman" color="#FFFFFF">.</font></td>
		<td align="center" valign=bottom><font face="Times New Roman" color="#FFFFFF"><br></font></td>
		<td align="center" valign=bottom sdnum="1033;1033;[$-409]D-MMM;@"><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3>.</font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
		<td align="left" valign=bottom><font face="Times New Roman" size=3><br></font></td>
	</tr>
</table>
<br clear=left>
<!-- ************************************************************************** -->
  </div>
<! -- PRINT FORM -->
