{% extends 'manage.layouts.default' %}
{% block css %}
<title>{{  shortif( inventory , inventory.name + ' - ' + company.name , antl.get('index.title') ) }}</title>
    <link rel="stylesheet" href="{{ url('css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url('library/kendoui/styles/kendo.common-material.min.css') }}" />
    <link rel="stylesheet" href="{{ url('library/kendoui/styles/kendo.material.min.css') }}" />
    <link rel="stylesheet" href="{{ url('library/kendoui/styles/kendo.material.mobile.min.css') }}" />
    <link rel="stylesheet" href="{{ url('library/bootstrap-table/src/bootstrap-table.css') }}" />
    <link rel="stylesheet" href="{{ url('css/addon/customize.css') }}" />
    <link rel="stylesheet" href="{{ url('css/addwidthdroplist.css') }}" />
    {% block css_add %}{% endblock %}
{% endblock %}
{% block content %}

<div class="md-card uk-margin-medium-bottom">
    <div class="md-card-toolbar">
        <div class="md-card-toolbar-heading-text">
           {{ title }}
        </div>
        <div class="md-card-toolbar-actions">
            <i class="md-icon material-icons toolbar_fixed btn-show" id="btn-show" data-uk-tooltip title="{{ antl.get('global.open_condition') }}" style="display:none">launch</i>
            <i class="md-icon material-icons md-card-fullscreen-activate toolbar_fixed" data-uk-tooltip title="{{ antl.get('index.zoom') }}"></i>
            <i class="md-icon material-icons refesh" data-uk-tooltip title="{{ antl.get('action.refesh') }}"></i>
            <div class="md-card-dropdown" data-uk-dropdown="{pos:'bottom-right'}" aria-haspopup="true" aria-expanded="false">
                <i class="md-icon material-icons"></i>
                <div class="uk-dropdown uk-dropdown-bottom" aria-hidden="true" tabindex="" style="min-width: 200px; top: 32px; left: -168px;">
                    <ul class="uk-nav">
                        <li><a class="get_data" href="javascript:;">{{ antl.get('global.get_data') }}</a></li>
                        <li><a class="btn-hide" href="javascript:;">{{ antl.get('global.hidden_condition') }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card-content">
            <div id="form-action">
                {% block content_add %}{% endblock %}
            </div>
        </div>
    </div>
<ul id="context-menu" style="display:none">
    <li>
        <a class="get_data"><i class="md-icon material-icons" data-uk-tooltip title="{{ antl.get('global.get_data') }}">event_available</i>{{ antl.get('global.get_data') }}</a>
    </li>
    <li>
        <a class="btn-hide"><i class="md-icon material-icons" data-uk-tooltip title="{{ antl.get('global.hidden_condition') }}">exit_to_app</i>{{ antl.get('global.hidden_condition') }}</a>
    </li>
</ul>
{% endblock %}
{% block scripts %}
    {% block scripts_add %}{% endblock %}
    <script src="{{ url('scripts/bootstrap.min.js') }}"></script>
    <script src="{{ url('library/bootstrap-table/src/bootstrap-table.js') }}"></script>
    <script src="{{ url('library/bootstrap-table/src/extensions/export/bootstrap-table-export.js') }}"></script>
    <script src="{{ url('library/bootstrap-table/src/extensions/export/tableExport.js') }}"></script>
    <script src="{{ url('library/bootstrap-table/src/extensions/filter-control/bootstrap-table-filter-control.js') }}"></script>
    <script src="{{ url('library/bootstrap-table/src/extensions/print/bootstrap-table-print.js') }}"></script>
    <script src="{{ url('library/kendoui/js/kendo.all.min.js') }}"></script>
    <script src="{{ url('library/kendoui/js/jszip.min.js') }}"></script>
    <script src="{{ url('library/moment/min/moment.min.js') }}"></script>
    <script src="{{ url('library/jquery.print/jQuery.print.js') }}"></script>
    <script src="{{ url('scripts/shortcuts.js') }}"></script>
    <script src="{{ url('scripts/addon/backend/ermis-form-7-a.js') }}"></script>
      {% block scripts_end %}{% endblock %}
{% endblock %}
