
{% extends 'manage.layouts.ermisform2' %}
{% block content_add %}
    <div id="notification"></div>
    <table>
        <tr>
            <td class="row-label"><label>{{ antl.get('menu.parent') }}</label></td>
            <td>
            <select class="droplist large" data-position="1" data-title="{{ antl.get('menu.parent') }}" add-option="true" data-template="#= FormatDropList(parent_id,'parent_id') #" data-type="number" data-width="200px" name="parent_id">
                    <option readonly selected value="0">--Select--</option>
                      {% for m in menu %}
                        <option value="{{ m.id }}">{{ shortif( lang == 'vn' , m.code + ' - ' + m.name ,m.code + ' - ' +  m.name_en )}}</option>
                       {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="row-label"><label>{{ antl.get('menu.code') }}</label></td>
            <td><input type="text" class="k-textbox large-responsive" data-position="2" data-title="{{ antl.get('option.code') }}" data-width="200px" data-type="string" name="code" /></td>
        </tr>
        <tr>
            <td class="row-label"><label>{{ antl.get('menu.name') }}</label></td>
            <td><input type="text" class="k-textbox xxlarge-responsive" data-position="3" data-title="{{ antl.get('option.name') }}" data-width="200px" data-type="string" name="name" /></td>
        </tr>
        <tr>
            <td class="row-label"><label>{{ antl.get('menu.name_en') }}</label></td>
            <td><input type="text" class="k-textbox xxlarge-responsive" data-position="3" data-title="{{ antl.get('option.name_en') }}" data-width="200px" data-type="string" name="name_en" /></td>
        </tr>
        <tr>
            <td class="row-label"><label>{{ antl.get('menu.icon') }}</label></td>
            <td><input type="text" class="k-textbox large-responsive" data-position="3" data-title="{{ antl.get('option.icon') }}" data-width="200px" data-type="string" name="icon" /></td>
        </tr>
        <tr>
            <td class="row-label"><label>{{ antl.get('menu.link') }}</label></td>
            <td><input type="text" class="k-textbox large-responsive" data-position="3" data-title="{{ antl.get('menu.link') }}" data-width="200px" data-type="string" name="link" /></td>
        </tr
        <tr>
            <td class="row-label"><label>{{ antl.get('menu.position') }}</label></td>
            <td><input type="text" class="k-textbox large-responsive" data-position="3" data-title="{{ antl.get('menu.position') }}" data-width="200px" data-type="string" name="position" /></td>
        </tr>
        <tr>
            <td><label>{{ antl.get('action.active') }}</label></td>
            <td class="row-height"><input type="checkbox" data-md-icheck="" data-position="10" data-value="1"  data-title="{{ antl.get('action.active') }}" data-width="100px" data-type="number" data-template="#= FormatCheckBox(active) #" name="active" /></td>
        </tr>
    </table>
{% endblock %}
{% block tabs %}
<div id="tabstrip" style="display:none">
    <ul>
        <li data-search="1" class="k-state-active">{{ antl.get('menu.tab1') }}</li>
        <li data-search="2">{{ antl.get('menu.tab2') }}</li>
        <li data-search="3">{{ antl.get('menu.tab3') }}</li>
        <li data-search="4">{{ antl.get('menu.tab4') }}</li>
        <li data-search="5">{{ antl.get('menu.tab5') }}</li>
        <li data-search="6">{{ antl.get('menu.tab6') }}</li>
        <li data-search="7">{{ antl.get('menu.tab7') }}</li>
    </ul>
</div>
{% endblock %}

{% block scripts_add %}
    <script>
    jQuery(document).ready(function () {
        Ermis.data = {{ data | json | safe }};
        Ermis.per = JSON.parse('{{ permission | safe }}');
        Ermis.flag = 1;
        Ermis.link = "{{ key }}";
        Ermis.room = "{{ room }}";
    });
    </script>
{% endblock %}
